
@import "./utils/typography.scss";
@import "./utils/colors.scss";
@import "./utils/utils.scss";


@import "./components/_atat_sidebar";
@import "./components/app-bar-top-nav";
@import "./components/_atat_checkbox";
@import "./components/_atat_footer";
@import "./components/_atat_info_side_drawer";
@import "./components/_atat_modal";
@import "./components/_atat_pillbox";
@import "./components/_atat_portfolio_summary_card";
@import "./components/_atat_toast";
@import "./components/v_alerts";
@import "./components/v_button";
@import "./components/v_card";
@import "./components/v_checkbox";
@import "./components/v_data_table";
@import "./components/v_datepicker";
@import "./components/v_file_upload";
@import "./components/v_list_item";
@import "./components/v_radio_button-cards";
@import "./components/v_radio-group";
@import "./components/v_select.scss";
@import "./components/v_stepper.scss";
@import "./components/v_text-field.scss";
@import "./components/v_tooltip.scss";
@import "./components/atat_wizard.scss";
@import "./components/clins-card";
@import "./components/atat_tabbar.scss";


@import "./components/validation.scss";
@import "./components/_accessibility";

body,html{
    background-color: $light_gray !important;
}
.v-main{
    @extend .body;
    .v-main__wrap{
        background-color: $gray_cool_1;
    }
}

.main-content-wrapper {
    padding: 40px 54px !important;
}

.content-max-width {
    max-width: 740px !important;
    .atat-alert & {
        max-width: 820px !important;
    }
}

.input-max-width {
    max-width: 416px !important;
    &.with-buttons-1 {
        max-width: 446px !important;
    }
}


fieldset:not([aria-hidden="true"]) {
    border: none;
    legend {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2.8rem;
    }
}
.v-input__slot fieldset {
    // reset vuetify's hidden fieldset used for input border
    border: inherit;
    legend {
        font-weight: normal !important;
        font-size: initial !important;
    }
}

