   
# ServiceNow instance URL for REST calls
# it is being used in DEVELOPMENT mode only
# This should be the instance where React application will be deployed to
BASE_API_URL= #disa instance url here do include trailing backslash

# User Name for API requests
# it is being used for sending REST calls in DEVELOPMENT mode only
# no need to provide credentials for PRODUCTION
SNOWUSER= #disa user name
  
# User password, for DEVELOPMENT mode only
SNOWPASS= #disa password
