html {
  font-size: 10px;
}
body {
  font-size: 1.6rem; 
}
.body,
%body {
  font-weight: 400 !important;
  font-size: 1.6rem !important;
  line-height: 1.5em !important;
  letter-spacing: .025rem !important;
}

#app {
  font-family: $base-font;
  color: $base-darker;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .body
}

.v-main__wrap {
  background-color: $white;
  padding: 28px 56px 120px 44px;
}

.container-max-width {
  // max page width for very wide screens - wraps all page content
  max-width: 1040px;
  margin-left: 0;
}

.textarea-max-width {
  // only used for textareas
  max-width: 740px !important;
}

.copy-max-width {
  // used for longer paragraphs of text that wrap to more than 1 line
  max-width: 840px !important;
}
