html {
  font-size: 10px;
  overflow-y: hidden;
}
body {
  font-size: 1.6rem; 
}
.body,
%body {
  font-weight: 400 !important;
  font-size: 1.6rem !important;
  line-height: 1.5em !important;
  letter-spacing: .025rem !important;
}

#app {
  font-family: $base-font;
  color: $base-darker;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .body;
  }

.v-main__wrap {
  background-color: $white;
  padding: 28px 56px 0px 44px;
  overflow-y: scroll;
  max-height: calc(100vh - 60px);

  #app-content{
    height: 100%;
  }
}

.container-max-width {
  // max page width for very wide screens - wraps all page content
  max-width: 1040px;
  margin-left: 0;
}

.copy-max-width {
  // used for longer paragraphs of text that wrap to more than 1 line
  max-width: 840px !important;
}

.max-width-740 {
  max-width: 740px !important;  
}

.max-width-640 {
  max-width: 640px !important;
}

.max-width-500 {
  max-width: 500px !important;
}

.border1 {
  border: 1px solid !important
}

.border-rounded {
  border-radius: 4px !important;
}

.border-rounded-more {
  border-radius: 8px !important
}

._square-bottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

._no-border-bottom {
  border-bottom: none !important;
}


/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 5px;
  margin-right: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 50px;
  border: 3px solid #fff;
  margin-block: .5em;

  ._callout & {
    background: $info-lighter;
    border-color: $info-lighter;
  }
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($base-light, 0.5);
  border-radius: 50px;
  border: 3px solid #fff;
  // border: 1px solid rgb(218, 218, 218);
  ._callout & {
    border-color: $info-lighter;
  }

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($base, 0.5);
}