// DISA GRAY (BASE)
$base-darkest: #161b1e;
$base-darker: #2c353b;
$base-dark: #41494e;
$base: #61686c;
$base-light: #959a9d;
$base-lighter: #e0e1e2;
$base-lightest: #f4f5f5;

// DISA PURPLE (Primary)
$primary-darker: #2a224b;
$primary-dark: #3b3069;
$primary: #544496;
$primary-light: #a9a1ca;
$primary-lighter: #eeecf5;

// DISA BLUE
$info-darker: #004f6f;
$info-dark: #0076a6;
$info: #009ddd;
$info-light: #80ceee;
$info-lighter: #e6f5fc;

// DISA GREEN
$success-darker: #315f2d;
$success-dark: #498e43;
$success: #62bd59;
$success-light: #b1deac;
$success-lighter: #eff8ee;

// DISA GOLD
$warning-darker: #80642a;
$warning-dark: #bf963e;
$warning: #ffc853;
$warning-light: #ffe4a9;
$warning-lighter: #fff9ed;

// DISA RED
$error-darker: #63031a;
$error-dark: #940427;
$error: #c60634;
$error-light: #e3839a;
$error-lighter: #f9e6ea;

// DISABLED
$disabled-dark: #adadad;
$disabled: #c9c9c9;
$disabled-light: #e6e6e6;

// DISA ACCENT COLOR
// $accent-cool-darker: 
// $accent-cool-dark: 
// $accent-cool: 
// $accent-cool-light: 
$accent-cool-lighter: #f4f5f5;

// MISC
$black: #000000;
$offwhite: #fbfbfb;
$white: #ffffff;
