  $primary_lighter: #d9e8f6 !default;
  $primary_light: #73b3e7 !default;
  $primary: #005EA2 !default;
  $primary_dark: #1a4480 !default;
  $primary_darker: #162E51 !default;
  $primary_vivid: #0050d8 !default;

  $secondary-darker: #8b0a03 !default;
  $secondary-dark: #b50909 !default;
  $secondary: #d83933 !default;
  $secondary-light: #f2938c !default;
  $secondary-lighter: #f8dfe2 !default;
  $secondary-vivid: #e41d3d !default;

  $success-darker: #446443 !default;
  $success-dark: #4d8055 !default;
  $success: #00a91c !default;
  $success-light: #70e17b !default;
  $success-lighter: #ecf3ec !default;

  $tertiary: #162E51 !default;

  $error: #D54309 !default;
  $error-darker: #6f3331 !default;
  $error-dark: #b50909 !default;

  $focus-blue: #2491FF !default;

  $warning_lighter: #faf3d1 !default;
  $warning_light: #fee685 !default;
  $warning: #ffbe2e !default;
  $warning_dark: #e5a000 !default;
  $warning_darker: #936f38 !default;

  $info_darker: #2e6276 !default;
  $info_dark: #009ec1 !default;
  $info: #05bfe7 !default;
  $info_light: #99deea !default;
  $info_lighter: #e7f6f8 !default;

  $accent-cool-darker: #07648d !default;
  $accent-cool-dark: #28a0cb !default;
  $accent-cool: #00bde3 !default;
  $accent-cool-light: #97d4ea !default;
  $accent-cool-lightest: #e1f3f8 !default;

  $hr_color: #DFE1E2 !default;

  $unclass_header:  #008000 !default;

  $light_gray: #f2f2f2 !default;

  $base_darkest: #1b1b1b !default;
  $base_darker: #3d4551 !default;
  $base_dark: #565c65 !default;
  $base: #71767a !default;
  $base_light: #a9aeb1 !default;
  $base_lighter: #dfe1e2 !default;
  $base_lightest: #f0f0f0 !default;

  $gray_cool_1: #FBFCFD !default;

  //incoporate this into a mixin soon
.theme--light.v-application{
   color: $base_darkest !important;
  .bg-primary-lighter{ background-color: $primary_lighter !important };
  .bg-primary-light{ background-color: $primary_light !important };
  .bg-primary{ background-color: $primary !important };
  .bg-primary-dark{ background-color: $primary_dark !important };
  .bg-primary-darken{ background-color: $primary_darker !important };
  .bg-primary-vivid{ background-color: $primary_vivid !important};

  .text--primary-lighter{ color: $primary_lighter !important };
  .text--primary-light{ color: $primary_light !important };
  .text--primary{ color: $primary !important };
  .text--primary-dark{ color: $primary_dark !important };
  .text--primary-darken{ color: $primary_darker !important };
  .text--primary-vivid{ color: $primary_vivid !important};

  .bg-base-darkest{background-color: #1b1b1b !important};
  .bg-base-darker{background-color: #3d4551 !important};
  .bg-base-dark{background-color: #565c65 !important};
  .bg-base{background-color: #71767a !important};
  .bg-base-light{background-color: #a9aeb1 !important};
  .bg-base-lighter{background-color: #dfe1e2 !important};
  .bg-base-lightest{background-color: #f0f0f0 !important};
  .bg-white{background-color: #FFFFFF !important};
  .bg-accent-cool-lightest{background-color:#e1f3f8}

  .text--base-darkest{color: #1b1b1b !important};
  .text--base-darker{color: #3d4551 !important};
  .text--base-dark{color: #565c65 !important};
  .text--base{color: #71767a !important};
  .text--base-light{color: #a9aeb1 !important};
  .text--base-lighter{color: #dfe1e2 !important};
  .text--base-lightest{color: #f0f0f0 !important};

  .text-base-error {color: $error !important};
  .text-base-error-dark { color:$error-dark !important};
  .text-base-error-darker { color:$error-darker !important};
  .test-base-success { color: $success !important};

  .border-base-darkest{border-color: #1b1b1b !important};
  .border-base-darker{border-color: #3d4551 !important};
  .border-base-dark{border-color: #565c65 !important};
  .border-base-base{border-color: #71767a !important};
  .border-base-light{border-color: #a9aeb1 !important};
  .border-base-lighter{border-color: #dfe1e2 !important};
  .border-base-lightest{border-color: #f0f0f0 !important};

  .border-accent-cool { border-color:  $accent-cool !important};
}

.bg-transparent {
  background-color: transparent !important;
}
