._dashboard {
  .container-max-width {
    margin: 0 auto !important;
    max-width: 1040px !important;
  }

  .v-input--checkbox {
    label {
      font-size: 12px !important;
      margin-right: 20px;
    }
  }
}

._trending-up {
  color: $error;
}

.trending-down {
  color: $success-dark;
}
