.input-max-width {
    max-width: 416px !important;
}

.optional {
    font-size: 1.4rem;
    color: $base;
    display: inline-block;
    margin-left: 8px;
}

.input-helper-text {
    color: $base;
    margin-top: 8px;
}

.form-section {
    margin-top: 0 !important;
    margin-bottom: 28px !important;
}