$total: 20;
@for $i from 1 through $total {  
    .width-#{$i*5} { width: ($i * 5%) !important}; 
    .min-width-#{$i*5} { min-width: ($i * 5%) !important}; 
    .max-width-#{$i*5} { max-width: ($i * 5%) !important}; 
    .height-#{$i*5} { height: ($i * 5%) !important}; 
    .min-height-#{$i*5} { min-height: ($i * 5%) !important}; 
    .max-height-#{$i*5} { max-height: ($i * 5%) !important}; 
    .font-size-#{$i*1} { font-size: ($i * 1rem) !important};
}

$total: 900;
@for $i from 400 through $total{
    .font-weight-#{$i} { font-weight: ($i) !important};
    $i: $i + 100;
} 

.no-border{
    border: none !important;
}

.no-text-decoration{
    text-decoration: none !important;
}

//removes most unwanted effect of gray ripple when 
//clicking stepper steps and datepicker buttons
.v-ripple__container{
    display: none !important;
}
$biggest-border-width: 10;
@for $i from 0 through $biggest-border-width {
    .border-#{$i} { border-width: $i*1px !important };
    .border-t-#{$i} { border-top-width: $i*1px !important};
    .border-b-#{$i} {border-bottom-width: $i*1px !important ;}
    .border-l-#{$i} {border-left-width: $i*1px !important ;}
    .border-r-#{$i} {border-right-width: $i*1px !important ;}
}

.border-solid {
    border: solid !important;
}

.pointer {
    cursor: pointer !important;
}

$states: 'auto' 'scroll' 'inherit' 'initial' 'overlay' 'hidden' 'revert' 'unset' 'visible';
@each $state in $states{
    .overflow-#{$state}{
        overflow: #{$state} !important;
    }
    .overflow-x-#{$state}{
        overflow-x: #{$state} !important;
    }
    .overflow-y-#{$state}{
        overflow-y: #{$state} !important;
    }
}

//padding and margin modifications
.remove-y-padding-from-cols  {
    .col{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

.remove-y-margin-from-p {
    p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

.height-auto {
    height: auto !important;
}