@import "../utils/colors.scss";
@import "../utils/typography.scss";

.sr-only{
    height: 1px;
    width: 1px;
    overflow: hidden !important;
}

$focus-shadow-default: 0px 0px 0px 4px #fff, 0px 0px 0px 8px $focus-blue !important;
$focus-shadow-tight: 0px 0px 0px 4px $focus-blue !important;
// utils

//removes the lines that sometimes appear over and under a
//link during focus
a:-webkit-any-link:focus-visible {
    outline-offset: 0px;
}

:focus-visible {
    outline: none !important;
}

@mixin default-focus {
    background-color: $primary-dark !important;
    opacity: initial !important;
    box-shadow: $focus-shadow-default;
}

a:not(.left-nav-menu-link):not(.menu-item):not(.step-description):not(.v-tab) {
    &:focus {
        border: none;
        box-shadow: none;
    }
    &:focus-visible::before,
    &:focus-visible {
        border-radius: 6px !important;
        font-weight: inherit !important;
        box-shadow: $focus-shadow-tight;
    }
    &.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
        &:focus-visible::before,
        &:focus-visible {
            font-weight: 700 !important;
        }
    }
}

a.v-tab {
    &:focus-visible {
        box-shadow: 0px 0px 0px 3px $focus-blue !important;
        border-radius: 0 !important;
    }
}

.v-btn {
    &.left-nav-menu-link {
        &:focus-visible {
            background-color: transparent !important;
            box-shadow: inset 0 0 0 4px $focus-blue !important;
        }
    }
}

.v-btn:not(.menu-item):not(.left-nav-menu-link) {
    &:not(.primary) {
        &:focus::before,
        &:focus{
            @include default-focus;
            box-shadow: none !important;
        }
    }
    &:focus-visible,
    &:focus-visible::before{
        box-shadow: $focus-shadow-default;
    }

    &.accent{
        &:focus::before,
        &:focus{
            background-color: $primary-vivid !important;
        }
    }

    &.primary_darker{
        &:focus,
        &:focus::before{
            background-color: transparent !important;
            opacity: 1 !important;
            box-shadow: 0px 0px 0px 4px $primary_darker, 0px 0px 0px 8px $focus-blue !important;
            transition: none !important;
        }
    }
    &.link-button,
    &.v-btn--plain,
    &.v-btn--icon,
    &.v-btn--text, &.left-nav-menu-link {
        &:focus,
        &:focus::before {
            background-color: transparent !important;
            opacity: 1 !important;
            box-shadow: none !important;
        }
        &:focus-visible,
        &:focus-visible::before{
            background-color: transparent !important;
            opacity: 1 !important;
            box-shadow: 0px 0px 0px 4px transparent, 0px 0px 0px 4px $focus-blue !important;
        }
    }
    &.v-btn--outlined {
        &:focus, &:focus::before {
            background-color: transparent !important;
        }
        &:focus-visible, &:focus-visible::before {
            background-color: transparent !important;
            box-shadow: 0px 0px 0px 4px #fff, 0px 0px 0px 8px $focus-blue !important
        }
        &:focus-visible::before {
            opacity: 0 !important;
        }
    }

    &.link-button{
        &:focus:not(.no-focus-shift){
            height: 60%;
        }
    }

    &.meatball-menu-button{
        background-color: transparent !important;
        min-width: 32px !important;
        height: 32px !important;
        border-radius: 4px;
        border: 1px solid transparent;
        transition: border-radius 0.4s;
        &.v-btn--disabled[disabled='disabled']{
            background-color: transparent !important;
            color: $base_lightest;
        }
        .v-icon {
            color: $base;
        }
        .v-btn__content{
            flex: none;
        }

        &:hover {
            border-color: $base-lighter;
            background-color: white !important;
            .v-icon {
                color: $base-darkest;
            }
        }
        &:focus, &:active {
            background-color: $accent-cool-lightest !important;
            border: solid 1px $primary !important;
            &:not([aria-expanded="false"]) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            .v-icon {
                color: $primary;
            }
            &:before{
                box-shadow: none !important;
                background-color: $accent-cool-lightest !important;
                color: $primary !important;
                font-weight: 700 !important;
            }
        }
    }
    &.primary {
        &:focus {
            background-color: $primary-dark !important;
        }
        &:focus-visible {
            background-color: $primary !important;
            &:hover {
                background-color: $primary-dark !important;
            }
        }
        &:active {
            background-color: $primary-darker !important;
            .v-btn__content {
                background-color: transparent !important;
            }
        }
    }
}

.v-list-item--active {
    a {
        border-radius: 6px;
        padding: 0px 8px;
        &:focus,
        &:focus::before
        {
            @include default-focus;
            border: none !important;
            background-color: transparent !important;
            outline: none !important;
        }
    }
}
.v-stepper__label {
    a {
        border-radius: 6px;
        &:focus, &:active, &:hover {
            box-shadow: none !important;
        }
        &:focus-visible {
            box-shadow: $focus-shadow-tight;
        }
    }
}

//checkboxes and checkbox 'lists'
@mixin checkbox-default-focus{
    background: none !important;
    border-radius: 0px !important;
    transition: none !important;
    width: 18px !important;
    height: 18px !important;
    left: -4px !important;
    top: -4px !important;
}
@mixin checkbox-default-focus-before{
    @include default-focus;
    background: none !important;
    background-color: transparent !important;
    transform: none !important;
    opacity: 1 !important;
}


.atat-checkbox-list{
    input:focus-visible + label > i{
        border-radius: 3px;
        // @include checkbox-default-focus-before;
        box-shadow: $focus-shadow-tight;
    }
 }

._v_radio-button-cards {
    .v-card {
        &.focus {
            box-shadow: $focus-shadow-default;
        }

        &.active{
            background-color: $primary_lighter !important;
            &::before{
                background: none;
            }
        }
    }
}

.expandable-content-opener {
    display: inline-block;
    text-decoration: underline;
    &:after {
        content: "";
        font-family: "Material Icons";
        -webkit-font-feature-settings: "liga";
        font-size: 24px;
        font-weight: normal;
        display: inline-block;
        height: 12px;
        line-height: 0;
        text-decoration: none !important;
        vertical-align: text-bottom;
    }
    &.open:after {
        content: "expand_less";
    }
    &.closed:after {
        content: "expand_more";
    }
}
.toggle-content {
  display: inline-block;
  &:after {
    content: "";
    font-family: "Material Icons";
    -webkit-font-feature-settings: "liga";
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
    height: 10px;
    line-height: 0;
    text-decoration: none !important;
    vertical-align: text-bottom;
  }
  &.open:after {
    content: "expand_less";
  }
  &.closed:after {
    content: "expand_more";
  }
}