
@import "../utils/colors.scss";
@import "../utils/typography.scss";
// .form-field-label-error

.sr-only{
    height: 1px;
    width: 1px;
    overflow: hidden !important;
}


.v-input{
    &.v-input--checkbox:focus{
        background-color: $base_lighter !important;
       .v-input--selection-controls__input{
       .v-icon{
            color: $primary !important;
       }
    }

    }
}