@import "../utils/colors.scss";

.v-system-bar{
    padding: 0px !important;
    background-color: $unclass_header !important;
}

.expandedHeader {
    height: 187px !important;
    .col-12{
        max-height: 100px !important;
        height: 100px !important;
        min-height: 100px !important;
    }
}
.condensedHeader {
    height: 70px !important;
}

.nav-header{
    height: 40px !important;
}


.v-application{
    .atat-header-nav.v-sheet{

        hr{
            border: none;
        }

        width: 100% !important;
        padding: 0px !important;
        background-color: $primary_darken !important;
        -ieVar-❗border-color: var(--v-primary_darker-base) !important;

        // usa gov
        .v_card{
            .v-card__actions{
                padding: 10px 0px !important;
            }
        }

        .v-toolbar__content,
        .v-toolbar__extension{
            display: block !important;
            padding: 0px !important;
        }

        .v-toolbar__content
        {
            height: 0px !important;
        }

    }
}