.v-system-bar{
    padding: 0px !important;
    background-color: $unclass_header !important;
}

.v-application{
    &.gov-banner-hidden {
        .atat-header-nav.v-sheet {
            margin-top: 0 !important;
        }
    }
    .atat-header-nav {
        box-shadow: none !important;
        &.v-sheet{
            margin-top: 22px !important;
            transition: margin-top ease-in-out 0.25s;

            hr{
                border: none;
            }

            width: 100% !important;
            padding: 0px !important;
            background-color: $primary_darker !important;
            -ieVar-❗border-color: var(--v-primary_darker-base) !important;

            // usa gov
            .v_card{
                .v-card__actions{
                    padding: 10px 0px !important;
                }
            }

            .v-toolbar__content,
            .v-toolbar__extension{
                display: block !important;
                padding: 0px !important;
            }

            .v-toolbar__content
            {
                height: 0px !important;
            }

        }
    }
}

.usa-gov-head {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all ease-in-out 0.25s;
    .gov-banner-hidden & {
        top: -25px;
        opacity: 0;
    }

    .usa-banner__guidance {
        align-items: flex-start;
        font-size: 16px;
        line-height: normal;
    }
    .usa-banner__guidance-container {
        max-width: 960px;
    }
    .btn-usa-gov-expand {
        .v-icon:after {
            text-decoration: none !important;
        }
    }
}