.v-dialog__content {
  .v-card__text {
    background-color: white;
  }
  .v-card__actions {
    height: 74px;
    background-color: white;
    border-top: 1px solid $base-lighter;
  }
}

.modal__title--border-bottom {
  padding: 32px 40px !important;
  margin-bottom: 36px;
  border-bottom: 1px solid $base_lighter;
}

.v-btn.modal__slideout__button-close {
  height: 25px !important;
  width: 25px;
  &:focus {
    color: white !important;
  }
}

.modal__title--sticky {
  .v-card__title {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
  }
  .v-card__text {
    padding-top: 126px !important;
    overflow-y: auto;
  }
}

.modal__title {
  display: flex;
  .modal__title__text {
    order: 2;
  }
  .modal__slideout__button-close {
    order: 1;
  }
}