@import "../utils/colors.scss";
.atat-checkbox-list{
        border: none !important;
    &.default{
        label{
            width: auto;
            .checked-icon{
                color: $primary;
            }
        }
    }
}

.checkbox-icon.v-icon {
    align-items: inherit;
}

.checkbox-group-row {
    &.center-checkboxes {
        .v-input--radio-group__input {
            justify-content: center;
        }
    }
    .v-input--checkbox {
        margin-top: 0;
        margin-right: 24px;
    }
    &.label-small {
        label.v-label {
            font-size: 1.2rem;
        }
    }
    &.no-messages {
        .v-messages {
            display: none;
        }
    }
    &.compact {
        padding-top: 0;
        margin-top: 0;
        .v-input {
            padding-top: 0;
        }
        .v-input__slot {
            margin-bottom: 0;
        }
    }
}

.chart-legend-checkboxes {
    .v-input--checkbox {
        &.color {
            &_chart_1 {
                .v-icon { color: $chart_color1 !important; }
                input[type=checkbox]:before { background-color: $chart_color1; }
            }
            &_chart_2 {
                .v-icon { color: $chart_color2 !important; }
                input[type=checkbox]:before { background-color: $chart_color2; }
            }
            &_chart_3 {
                .v-icon { color: $chart_color3 !important; }
                input[type=checkbox]:before { background-color: $chart_color3; }
            }
            &_chart_4 {
                .v-icon { color: $chart_color4 !important; }
                input[type=checkbox]:before { background-color: $chart_color4; }
            }
            &_chart_5 {
                .v-icon { color: $chart_color5 !important; }
                input[type=checkbox]:before { background-color: $chart_color5; }
            }
            &_chart_6 {
                .v-icon { color: $chart_color6 !important; }
                input[type=checkbox]:before { background-color: $chart_color6; }
            }
            &_chart_7 {
                .v-icon { color: $chart_color7 !important; }
                input[type=checkbox]:before { background-color: $chart_color7; }
            }
            &_chart_8 {
                .v-icon { color: $chart_color8 !important; }
                input[type=checkbox]:before { background-color: $chart_color8; }
            }
            &_chart_9 {
                .v-icon { color: $chart_color9 !important; }
                input[type=checkbox]:before { background-color: $chart_color9; }
            }
            &_chart_10 {
                .v-icon { color: $chart_color10 !important; }
                input[type=checkbox]:before { background-color: $chart_color10; }
            }
        }

        &.v-input--is-disabled {
            label.v-label.v-label--is-disabled {
                color: $base !important;
            }
            .v-icon {
                opacity: 0.5;
            }
        }

        input[type=checkbox] {
            opacity: 1 !important;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: -19px;
                width: 14px;
                height: 14px;
                opacity: 0.08;
                background-color: transparent;
            }

            &:focus-visible:after {
                position: absolute;
                top: -2px;
                left: -26px;
                content: "";
                width: 28px;
                height: 28px;
                border: 3px solid $focus-blue;
                border-radius: 6px;
            }
        }
    }
}
