
.portfolio-summary-cards-wrapper {
  border: 1px solid $base_lighter;
  border-radius: 4px;
  max-width: 1021px;

  .v-card {
    border-bottom: 1px solid $base-lighter;
    &.first {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &.last {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom: none;
    }

  }
  .logo {
    // EJY temporary until using actual logos
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $base-lighter;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .status-alert-banner-wrapper {
    min-width: 140px;
    .status-alert-banner {
      background-color: $base;
      text-transform: uppercase;
      color: white;
      border-radius: 2px;
      font-weight: 700;
      padding: 0 4px;
      &.warning {
        background-color: $warning !important;
        color: $base_darkest;
      }
      &.danger {
        background-color: $error;
      }
      &.info {
        background-color: $info_dark !important;
      }
      &.archived {
        background-color: $base_dark !important;
      }
    }
  }

  .data-header {
    font-size: 1rem;
    line-height: 1;
    display: block;
    color: $base-dark;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .data-primary {
    line-height: 1;
    margin-bottom: 8px;
    .funds-percent {
      font-size: 1.2rem;
      color: $base;
    }
  }
  .data-secondary {
    font-size: 1.2rem;
    color: $base;
    line-height: 1;
  }
}

.no-portfolio-search-results {
  text-align: center;
  .v-icon {
    font-size: 150px;
  }
}

.portfolio-summary-wrapper {
  padding: 40px 56px;
  border-top: 1px solid $base-lighter;

  .v-card {
    border-radius: 4px !important;
    padding: 32px;
    font-size: 1.5rem;
    h3 {
      margin-bottom: 8px;
    }
    p {
      max-width: 825px;
    }
  }
}