.wizard-content {
  padding: 40px 56px 104px;
  border-top: 1px solid $base-lighter;
}

.wizard-button-nav {
  border-top: 1px solid $base-lighter !important;
   
  .v-btn:hover {

      background-color: $primary_dark;
  }
}