@import "../utils//colors.scss";

.clins-card {
   .v-expansion-panel-content__wrap {
      padding: 0 54px 40px;
   }
   .v-expansion-panel {
      border: 1px solid $base_lightest;
      &.errored{
         border: 3px solid $secondary-dark;
         border-radius: 4px;
      }

      .v-expansion-panel-header {
         padding: 0 !important;
         min-height: 57px;
      }
   }

   .v-expansion-panel::before {
      box-shadow: none !important;
   }

   .icon-rotate {
      transform: rotate(-180deg);
   }

   .v-icon.errored{
      color: $secondary-dark;
   }

   .data-summary-table {
      th, td {
         vertical-align: top;
      }
      th {
         white-space: nowrap;
         padding: 0 40px 0 0px;
      }
      td {
         padding: 4px 40px 4px 0px;
         line-height: 1.2;
      }
   }
}
