
.portfolio-managers-modal-dialog {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 0;
    .v-card.v-sheet {
      padding: 16px;
      .v-card__title {
        height: 120px;
        position: absolute;
        background-color: white;
        z-index: 10;
      }
      .v-card__text {
        position: relative;
        padding: 20px 56px 40px 24px;
        height: 60vh;
        margin-top: 120px;
        margin-bottom: 60px;
        overflow-y: auto;
      }
      .v-card__actions {
        position: absolute;
        z-index: 10;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-end;
        padding: 16px 24px;
        bottom: 0;
        left: 0px;
        background: #f0f0f0;
      }
    }
  }
  .permissions-set-list {
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    .permission-set-checkbox {
      border: 1px solid #005ea2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      position: static;
      box-sizing: border-box;
      border-radius: 2px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      margin: 16px 0px 0px;
    }
    .permission-set-description {
      margin-left: 32px;
      margin-bottom: 0;
    }
  }
  .invite-portfolio-manager-email {
    .v-input__control {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
    }
  }
  .add-portfolio-manager-email.v-btn:not(.v-btn--round).v-size--default {
    padding-left: 2px;
    height: 26px;
    margin-bottom: 40px;
    .add-portfolio-manager-email__icon {
      text-decoration: none;
      text-decoration-color: transparent;
      text-decoration-style: unset;
      text-decoration-line: none;
    }
    .v-btn__content {
        text-decoration: none;
    }
  }
  
  .form-field-item {
    display: block;
    position: relative;
    margin-bottom: 8px;
    .form-field-item__cancel {
      position: absolute;
      display: block;
      top: 0;
      right: -5px;
      padding: 0;
      &.theme--light.v-btn.v-btn--has-bg {
        background-color: transparent;
      }
      .v-btn.link-button span {
        text-decoration: unset !important;
      }
      .v-btn__content {
        padding: 0;
        text-decoration: none;
      }
    }
  }