@import "../utils/colors.scss";

.v-btn{
  box-shadow: none !important;
  font-size: 1.7rem !important;
  line-height: 2.5rem !important;
  text-transform: none !important;
  font-weight: 700 !important;

  &::before{
    display: block;
    transition: none;
  }
  
  &:hover::before{
    background-color: $primary_darken !important;
    opacity: initial  !important;
    box-shadow: none !important;
  }

  &:active::before,
  &:focus::before,
  &:focus-visible::before,
  &:focus-within::before{
    background-color: $primary_darken !important;
    box-shadow: none !important;
    opacity: initial !important;
  }

  &.v-btn--is-elevated:active {
     box-shadow: none;
  }

  &.v-size--large{
    font-weight: 600 !important;
    font-size: 2.2rem !important;
    line-height: 3.3rem !important;
    letter-spacing: .05rem !important;
    padding: 10px 24px !important;
  }

  &.btn-usa-gov-expand{
    font-weight: 600 !important;
    font-size: 1.3rem !important;
    line-height: 1.7rem !important;
    span{
      color: $primary !important;
    }
    // &:active::before,
    // &:focus::before,
    // &:focus-visible::before,
    // &:focus-within::before
    &:hover::before{
      background-color: transparent !important;
      opacity: initial  !important;
      box-shadow: none !important;
      -ieVar-❗background-color: none!important;
    }
  }

  &.primary.theme--light{
    background-color:  $primary !important;
    color: #fff !important;
    &:hover::before,
    span:hover{
      background-color: $primary !important;
      -ieVar-❗background--color: $primary!important;
      box-shadow: none !important;
    }
  }
  
  &.primary_darken.theme--light{
    background-color: transparent !important;
    color: #fff !important;
    &:hover::before,
    span:hover{
      background-color: transparent !important;
      -ieVar-❗background--color: transparent!important;
      box-shadow: none !important;
    }


  }

}


