@import "../utils/colors.scss";
.v-alert{
  font-size: 1.06rem !important; //17 pixels

    border-radius: 5px !important;
    box-shadow: none !important;

    &.v-sheet--outlined{
      border: none !important;
    }

    .v-alert__border--left {
      border-width: initial;
      // border-top-left-radius: 0px;
      // border-bottom-left-radius: 0px;
      left: 0px;
    }

    .v-alert__border:not(.v-alert__border--has-color){
      opacity: 1 !important;
    }
    .v-alert__icon.v-icon{
      font-size: 4rem;
      top: .4rem;
      margin: 0 1rem 0 .5rem;
    }
  .info_lighter {
    border-width: 0px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background-color:  $info_lighter !important;
  }
    .warning_lighter {
      border-color: var(--v-warning-base) !important;
      border-width: 0px !important;
      border-style: solid !important;
    }
  &.error_lighter {
    border-width: 0px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background-color:  #f8dfe2 !important;
  }

  &.black-icon{
    .v-icon{
      color: black !important;
    }
    a {
      color: $primary !important;
      .v-icon{
        color: $primary !important;
      }
    }
  }

}


.v-application .warning_lighter.border {
  border-color: var(--v-warning-base) !important;
  border-width: 2px !important;
  border-style: solid !important;
}