.atat-button-hover{
  background-color: transparent !important;
  opacity: initial  !important;
  box-shadow: none !important;
  -ieVar-❗background-color: none!important;
}

.v-btn{
  box-shadow: none !important;
  font-size: 1.7rem !important;
  line-height: 2.5rem !important;
  text-transform: none !important;
  font-weight: 700 !important;
  &::before{
    display: block;
    transition: none;
    background-color: inherit !important;
  }

  &.v-btn--is-elevated:active {
     box-shadow: none;
  }

  &.v-size--large{
    font-weight: 600 !important;
    font-size: 2.2rem !important;
    line-height: 3.3rem !important;
    letter-spacing: .05rem !important;
    padding: 10px 24px !important;
  }

  &.link-button{
    background-color: transparent !important;
    span{
      color: $primary !important;
      text-decoration: underline;
      font-weight: normal;
      opacity: 1 !important;
    }
    &:hover span {
      color: $primary-dark !important;
      &::before{
        @extend .atat-button-hover;
      }
    }
    &:active span {
      color: $primary-darker !important;
    }
    &.no-border{
      span{
        text-decoration: none !important;
      }
    }
    &.font-weight-bold{
      span{
        font-weight: 700 !important;
      }
    }
  }

  &.btn-usa-gov-expand{
    font-weight: 600 !important;
    font-size: 1.3rem !important;
    line-height: 1.7rem !important;
    color: $primary !important;
    position: relative;
    .v-btn__content {
      opacity: 1 !important;
    }
    text-decoration: underline;
    &:after {
      content: "expand_more";
      position: absolute;
      right: -10px;
      top: 3px;
      font-family: "Material Icons";
      -webkit-font-feature-settings: "liga";
      font-size: 18px;
      font-weight: normal;
      text-decoration: none;
    }
    &.open:after {
      content: "expand_less";
    }
  }

  &.primary.theme--light{
    background-color:  $primary !important;
    color: #fff !important;
    &:hover::before,
    span:hover{
      box-shadow: none !important;
    }

    &.v-btn--outlined{
      color: $primary !important;
      border-color: $primary !important;
      background-color: #fff !important;
      border-width: 2px !important;

      &:hover{
        color: #fff !important;
        background-color: $primary !important;
      }
    }
  }

  &.primary_darker.theme--light{
    background-color: transparent !important;
    color: #fff !important;
  }

  &.error-button.theme--light{
    border-width: 2px;
    &.v-btn--outlined{
      color: $secondary !important;
      border-color: $secondary !important;
      background-color: #fff !important;

      &:hover, &:focus{
        color: $secondary-dark !important;
        border-color: $secondary-dark !important;
      }
      &:active {
        color: $secondary-darker !important;
        border-color: $secondary-darker !important;
      }
    }
  }
  &.input-search-bar {
    border-radius: 0px 4px 4px 0px;
    height: 40px !important;
    width: 48px;
    min-width: 35px !important;
  }
  &.filter {
    background-color: #fff !important;
    border-color: $base_light !important;
    border-radius: 4px;
    color:$base-dark !important;
    height: 32px !important;
    width: 32px;
    min-width: 32px !important;
    &:hover{
      background-color: $base_lightest !important;
    }
  }
  span.valid-entry-count {
    background-color: white;
    color: $primary;
    border-radius: 20px;
    padding: 0 7px;
    &:hover, &:focus, &:active {
      background-color: #fff !important;
    }
  }

  &.v-btn--disabled.v-btn--has-bg.theme--light{
    color: #fff !important;
    background-color: #C9C9C9 !important;
    span.valid-entry-count {
      background-color: white;
      color: $base_light;
    }
  }
  &.secondary-btn, &.v-btn--outlinedbtn {
    background-color: #fff !important;
    border: 2px solid $primary;
    color: $primary;
    &:hover {
      border-color: $primary_dark !important;
      color: $primary_dark !important;
      background-color: #fff !important;
    }
  }
  &.primary {
    &:hover {
      background-color: $primary-dark !important;
      border-color: $primary-dark !important;
    }
  }

}
