.atat-button-hover{
    background-color: transparent !important;
    opacity: initial  !important;
    box-shadow: none !important;
    -ieVar-❗background-color: none!important;
  }

  
.v-btn{
    box-shadow: none !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 7px 20px 8px !important;

    &.primary.theme--light{
        background-color:  $primary !important;
        color: #fff !important;
        &:hover::before,
        span:hover{
          box-shadow: none !important;
        }
  }

  &.link-button{
    background-color: transparent !important;
    span{
      color: $primary !important;
      text-decoration: underline;
      font-weight: normal;
      opacity: 1 !important;
    }
    &:hover span {
      color: $primary-dark !important;
      &::before{
        @extend .atat-button-hover;
      }
    }
    &:active span {
      color: $primary-darker !important;
    }
    &.no-border{
      span{
        text-decoration: none !important;
      }
    }
    &.font-weight-bold{
      span{
        font-weight: 700 !important;
      }
    }
  }

}