@import "../utils/colors.scss";
.atat-button-hover{
  background-color: transparent !important;
  opacity: initial  !important;
  box-shadow: none !important;
  -ieVar-❗background-color: none!important;
}

.v-btn{
  box-shadow: none !important;
  font-size: 1.7rem !important;
  line-height: 2.5rem !important;
  text-transform: none !important;
  font-weight: 700 !important;

  &::before{
    display: block;
    transition: none;
    background-color: inherit !important;
  }

  &.v-btn--is-elevated:active {
     box-shadow: none;
  }

  &.v-size--large{
    font-weight: 600 !important;
    font-size: 2.2rem !important;
    line-height: 3.3rem !important;
    letter-spacing: .05rem !important;
    padding: 10px 24px !important;
  }

  &.link-button{
    background-color: transparent !important;
    span{
      color: $primary !important;
      text-decoration: underline;
      font-weight: normal;
      opacity: 1 !important;
    }

    &:hover::before{
      @extend .atat-button-hover;
    }

    &.no-border{
      span{
        text-decoration: none !important;
      }
    }

    &.font-weight-bold{
      span{
        font-weight: 700 !important;
      }
    }

  }

  &.btn-usa-gov-expand{
    font-weight: 600 !important;
    font-size: 1.3rem !important;
    line-height: 1.7rem !important;
    color: $primary !important;
    position: relative;
    text-decoration: underline;
    &:after {
      content: "expand_more";
      position: absolute;
      right: -10px;
      top: 3px;
      font-family: "Material Icons";
      -webkit-font-feature-settings: "liga";
      font-size: 18px;
      font-weight: normal;
      text-decoration: none;
    }
    &.open:after {
      content: "expand_less";
    }
  }

  &.primary.theme--light{
    background-color:  $primary !important;
    color: #fff !important;
    &:hover::before,
    span:hover{
      background-color: $primary !important;
      -ieVar-❗background--color: $primary!important;
      box-shadow: none !important;
    }

    &.v-btn--outlined{
      color: $primary !important;
      border-color: $primary !important;
      background-color: #fff !important;

      &:hover{
        color: #fff !important;
        background-color: $primary !important;
      }
    }
  }

  &.primary_darken.theme--light{
    background-color: transparent !important;
    color: #fff !important;
  }

  &.error-button.theme--light{
    &.v-btn--outlined{
      color: $secondary !important;
      border-color: $secondary !important;

      &:hover{
        color: #fff !important;
        background-color: $secondary !important;
      }
    }
  }
  &.error-button.theme--light{
    &.v-btn--outlined{
      color: $secondary !important;
      border-color: $secondary !important;
      background-color: #fff !important;

      &:hover{
        color: #fff !important;
        background-color: $secondary !important;
      }
    }
  }
  &.input-search-bar {
    border-radius: 0px 6px 6px 0px;
    height: 40px !important;
    width: 48px;
    min-width: 35px !important;
  }

  span.valid-entry-count {
    background-color: white;
    color: $primary;
    border-radius: 20px;
    padding: 0 7px;
    &:hover, &:focus, &:active {
      background-color: #fff !important;
    }
  }

  &.v-btn--disabled.v-btn--has-bg.theme--light{
    color: #fff !important;
    background-color: #C9C9C9 !important;
    span.valid-entry-count {
      background-color: white;
      color: $base_light;
    }
  }
}
