
@import "../utils/colors.scss";

.v-sheet.v-card {
  border-radius: 0px;

  .type{
    font-weight: 600 !important;
    color: $primary;
  }

  .grouped-items{
    border-left: solid 4px $accent-cool;
  }

  &.extra-padding {
    .v-card__title {
      padding: 45px 40px 0;
    }

    .v-card__text {
      padding: 0 40px 24px;
    }

    .v-card__actions {
      padding: 16px 24px !important;
    }
  }
}
.v-card__title {
  padding: 24px 24px 12px !important;
}
.v-card__text, .v-card__title {
  letter-spacing: -0.02rem !important;
}

.portfolio-banner {
  background-color: $base_lightest;
}
.portfolio-name {
  color: $primary;
}
.portfolio-info {
  border-left: solid 4px $primary_light;
}
.draft {
  color: #ffffff;
  background-color: $success;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  height: 23px;
}