.v-sheet.v-card {
  border-radius: 0px;
}
.portfolio-banner {
  background-color: #f0f0f0;
}
.portfolio-name {
  color: #005ea2;
}
.portfolio-info {
  border-left: solid 4px #73b3e7;
}
.draft {
  color: #ffffff;
  background-color: #00a91c;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  height: 23px;
}

.v-sheet:not(.v-sheet--outlined) {
  box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.5) !important;
}