@import "../utils/colors.scss";
@import "../utils/typography.scss";
@import "../utils/utils.scss";

#clin-datepicker-text-boxes{
  .menuable__content__active{
    height: 400px;
    min-height: 400px;
    min-width: 700px;
    max-width: 700px;
  }
}

.two-date-pickers{
  background-color: $base_lightest;

  #firstMonthDatePicker{
    .v-date-picker-header{
      button:nth-child(3){
        display: none;
      }
      .v-date-picker-header__value{
        margin-right: 41px;
      }
    }
  }
  #secondMonthDatePicker{
    .v-date-picker-header{
      .v-btn:nth-child(1){
        display: none;
      }
      .v-date-picker-header__value{
        margin-left: 41px;
      }
    }
  }

  button{
    @extend .datepicker-text;
    color: $base_darkest !important;
  }

  .v-picker{
    .v-picker__body{
      .v-date-picker-header{
        .v-date-picker-header__value{
          button{
            @extend .font-weight-700;
            pointer-events: none;
            color: $base_darkest;
            &:hover{
              color: $base_darkest;
            }
          }
        }
      }
      .v-date-picker-table{
        
        &.hover-start{
          table{
            tbody{
              tr{
                td{
                  button.v-btn{
                    &:hover,
                    &:hover::before{
                      // border-color: $primary_vivid !important;
                      // border-style: solid !important;
                      // border: 2px !important;
                       border-radius:  8px 0px 0px 8px !important;
                      // opacity: initial !important;
                      // background-color: $primary_vivid;
                      box-shadow: 0px 0px 0px 4px $primary_vivid  !important;
                      // box-shadow: none !important;
                      // background-color: $base_lighter !important;
                       opacity: initial !important;
                      // box-shadow: none !important;
                      // border-color: $primary_vivid !important;
                      // border-width: 2px !important;
                      // border-style: solid !important;
                    }
                  }
                }
              }
            }
          }
        }

        &.hover-end{
          table{
            tbody{
              tr{
                td{
                  button.v-btn{
                    &:hover,
                    &:hover::before{
                      background-color: $primary_vivid;
                      border-color: $primary_vivid !important;
                      border-style: solid !important;
                      border: 2px !important;
                      opacity: initial !important;
                      box-shadow: none !important;
                      border-radius:  0px 8px 8px 0px !important;
                    }
                  }
                }
              }
            }
          }
        }

        padding: 0px !important;
        
        table{
          border: none !important;
          border-spacing: 0px !important;
          thead{
            tr{
              th{
                @extend .datepicker-text;
                color: $base_darkest;
              }
            }
          }
         
          tbody{
            tr{
              td{
                width: 44px !important;
                height: 40px !important;
                button{
                  &.v-btn--rounded{
                    border-radius: 6px !important;
                  }
                  &.v-btn--active{
                  background-color: $primary_lighter !important;
                  border-radius: 0px !important;
                  width: 100% !important;
                  height: 100% !important;
                  padding: 4px 2px !important;
                  &:focus,
                  &:focus::before{
                    border-radius: 0px !important;
                    background-color: $base_lighter !important;
                    opacity: initial !important;
                    box-shadow: none !important;
                    border-color: $primary_vivid !important;
                    border-width: 2px !important;
                    border-style: solid !important;
                  }
                    &.date-picker-start-date{
                      opacity: none !important;
                      background-color: $primary_vivid !important;
                      box-shadow: none !important;
                      border-radius:  8px 0px 0px 8px !important;
                      div{
                        color: #fff;
                      }
                    }
                    &.date-picker-end-date{
                      opacity: none !important;
                      background-color: $primary_vivid !important;
                      box-shadow: none !important;
                      border-radius:  0px 8px 8px 0px !important;
                      div{
                        color: #fff;
                      }
                    }
                  }
                
                }
                

                button.v-date-picker-table__current{
                  border: $base-darkest 1px solid !important;
                  color: $base_darkest !important;
                }
                button.v-btn.v-btn--flat.v-btn--disabled{
                  color: $base_light !important;
                }
              }
            }
          }
        }
      }
      background-color: $base_lightest !important;
    }
  }
}
