@import "../utils/colors.scss";
@import "../utils/typography.scss";

.review-table{
  box-shadow: 1px 1px 3px $base_lightest;
  border-radius: 0px !important;
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper){
    background: transparent;
  }
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    height: fit-content;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
    border-bottom: none;
  }
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row) {
    border-bottom: solid 1px $base_lighter;
  }
  .v-card__subtitle, .v-card__text, .v-card__title {
    padding: 24px 24px 16px 24px;
  }
}
.v-data-table-header {
  background-color: $base_lightest;

   th:not(:last-child){
     border-right: 1px solid;

     &.sortable {
       display: flex;
       justify-content: space-between ;
       align-items: center;
     }
   }

}


.table-btn.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--light{
  background-color: inherit;
  height: 44px !important;
  width: 44px;
  min-width: 40px !important;
//change color names to match
  a {
    color: inherit;
    width: 100% !important;
    border-radius: 0px;
    background-color: transparent !important;
    span{
      width: 100% !important;
      height: 100% !important;
      font-weight: 900 !important;
      text-align: left;
      padding-left: 4px;
    }
  }

}
.table-btn.v-btn.v-btn--disabled.v-btn--has-bg.theme--light{
  background-color: inherit !important;
  color: $base_lightest;
  height: 44px !important;
  width: 44px;
  min-width: 40px !important;
}

.table-menu{
  border: 1px solid darkgray;
  a.menu-item{
    border-radius: 0px;
    border: 1px solid darkgray;
    &:focus{
      background-color: $primary-lighter !important;
      border-radius: 0px !important;
      border-color: $primary_darken !important;

    }
  }
}
