@import "../utils/typography.scss";

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper){
  background-color: rgba($accent-cool-lightest, 0.5) !important;
}

.review-table {
  &.review-table--shadowed {
    box-shadow: 0px 2px 5px rgba(208, 219, 231, 0.5) !important;
  }

  border-radius: 0px !important;

  .v-data-table__wrapper{
    table{
      thead {
        background-color: $base_lightest;
        th {
          font-size: 1.2rem !important;
          line-height: 1.6rem !important;
          font-weight: 700 !important;
          color: $base_dark !important;
        }
      }
      tbody,
      tr {
        border-left: solid #fff 0px;
        border-right: solid #fff 0px;
        border-bottom: solid #fff 0px;
        &:last-child > th {
          border-bottom: none !important;
        }
        td {
          border-radius: 0 !important;
          @extend .body;
          vertical-align: top;
          padding: 16px !important;
        }
        th, td {
          &:first-of-type {
            padding-left: 24px !important;
          }
        }

      }

      tr.v-data-table__empty-wrapper td{
        font-size: 16px !important;
        color: $base_darkest;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
  .errorable-field-wrapper {
    margin: -4px 0;
  }
}
.v-data-table-header {
  background-color: $base_lightest;
    th{
      border: none !important;
      margin: none !important;
      padding-bottom: 12px !important;
      padding-top: 12px !important;
      &.sortable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
          font-size: 12px !important;
        }
      }
    }
  th:not(:first-child){
    border-left: 1px solid $base_light !important;
  }
}

.meatball-menu{
  &:first-child{
    border-top: 1px solid $base-light;
  }
  .v-list-item{
    border: 1px solid $base-light;
    border-top: 0px solid #fff;
    min-width: 224px;
    &::before{
      background-color: transparent;
    }
    &.v-list-item--highlighted,
    &:hover {
      cursor: pointer;
      background-color: $accent-cool-lightest !important;
    }
  }
}

.errorable-field {
  border-radius: 4px;
  padding: 2px 8px;
  border: 1px solid transparent;
  &.invalid {
    background-color: white;
    border-color: $error-dark;
    font-weight: 700;
    .v-icon {
      font-size: 20px;
      color: $error-dark;
      margin-left: 1rem;
    }
  }
}
