.global-side-nav-bar{
  &.v-navigation-drawer {
    .v-list-item__content{
        a{
          text-decoration: none !important;
        }
      }
    .v-list-item-group .v-list-item--active {
      color: inherit;
      border-left: solid 4px;
      .v-list-item__content{
        a{
          font-weight: bolder !important;
        }
      }
    }
  }
}
