.global-side-nav-bar{
  &.v-navigation-drawer {
    .v-list-item__content{
        a{
          text-decoration: none !important;
        }
      }
    .v-list-item-group .v-list-item--active {
      color: inherit;
      border-left: solid 4px;
      .v-list-item__content{
        a{
          font-weight: bolder !important;
        }
      }
    }
  }
}


.bold-list-sets {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  .bold-list-sets-checkbox {
    border: 1px solid #005ea2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: static;
    box-sizing: border-box;
    border-radius: 2px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px 16px 0px;
  }
  .bold-list-sets-description {
    margin-left: 32px;
    margin-bottom: 0;
  }
}