.global-side-nav-bar{
  &.v-navigation-drawer {
    .v-list-item__content{
        a{
          text-decoration: none !important;
        }
      }
    .v-list-item-group .v-list-item--active {
      color: inherit;
      border-left: solid 4px;
      .v-list-item__content{
        a{
          font-weight: bolder !important;
        }
      }
    }
  }
}

.v-list-item {
  &.border-bottom:not(:last-child) {
    border-bottom: 1px solid $base;
  }
  &.v-list-item--link.no-hover {
    &:hover {
      &:before {
        background-color: transparent !important;
        opacity: 0 !important;
      }
    }
  }
}
.v-list {
  &.no-hover {
    .v-list-item--link {
      &:hover, &.v-item--active.v-list-item--active {
        cursor: default !important;
        &:before {
          background-color: transparent !important;
          opacity: 0 !important;
        }
      }
    }
  }
}

