@import "../utils/colors.scss";

._v_radio-button-cards {
background-color: $gray_cool_1 !important;
    .v-card {
        border-radius: 4px;
        max-width: 278px !important;
        min-height: 128px !important;
        cursor: pointer;
        border-color: $base_light;
        background-color: $base_lightest ;
      }

      .active {
        background-color: $primary_lighter !important;
        border-color: $primary !important;
     }
      
      // creates a white background and black border for unselected state of radio button
     .v-radio .v-icon {
        color: black;
        border-color: black;
        border-radius: 50%;
        background-color: $base_lightest;
      }

}