@import "../utils/colors.scss";
@import "../utils/typography.scss";
.step{
  @extend .stepper-step-lg;
  height: 48px !important;
  width: 48px !important;
  border: #fff 4px solid !important;
}

.v-stepper{
  &.wizard-stepper{
    .v-stepper__header{
      .v-stepper__step{
        align-items: start;
        padding: 20px 0px;
        display: inline-block !important;
        &:active::before,
        &:focus::before,
        &:focus-visible,
        &::selection,
        &:focus-within{
          background-color: transparent !important;
          box-shadow: none !important;
          opacity: initial !important;
        }
        &:hover{
          background-color: transparent !important;
        }
        .v-stepper__step__step{
          @extend .step;
        }
        .v-stepper__label{
          @extend .body-lg;
          color: $primary_darken;
        }
        &.v-stepper__step--inactive,
        &.v-stepper__step--editable{
          .v-stepper__step__step{
            border: $base_lighter 4px solid !important;
            background-color: #fff !important;
            color: $primary_darken !important;
          }
          .v-ripple__container{
            display: none !important;
          }
        }
        &.v-stepper__step--active{
          .v-stepper__step__step{
            border: #fff 4px solid !important;
            background-color: $primary !important;
            color: #fff !important;
          }
          .v-stepper__label{
            color: $primary !important;
            font-weight: 700 !important;
          } 
        }
      }
     
      hr{
        margin: 44px -130px 0;
        border-width: 4px;
      }
    }
  }
}

.v-stepper__wrapper {
  transition:none !important;
}
.step-of-pages-control{
  .span-of-pages{
    color: $primary !important;
    font-weight: normal !important;
    @extend .h3;

    &.step-description{
      color: $primary-darken !important;
      font-weight: 700 !important;
    }
  }  
}