@import "../utils/colors.scss";
@import "../utils/typography.scss";
.step{
  @extend .stepper-step-lg;
  height: 48px !important;
  width: 48px !important;
  margin-bottom: 4px !important;
  border: #fff 4px solid !important;
}

.v-stepper{
  &.wizard-stepper{
    .v-stepper__header{
      box-shadow: none !important;

      hr{
        margin: -58px 47px;
        border-width: 4px;
        width: 100%;
        border-color: $base_lighter !important;
        background-color: $base_lighter;
      }

      .v-stepper__step{
        align-items: start;
        padding: 24px 0px;
        display: inline-block !important;
        width: 20% !important;
        flex-basis: 20% !important;
        &:active::before,
        &:focus::before,
        &:focus-visible,
        &::selection,
        &:focus-within{
          background-color: transparent !important;
          box-shadow: none !important;
          opacity: initial !important;
        }
        &:hover{
          background-color: transparent !important;
        }
        .v-stepper__step__step{
          @extend .step;

        }
        .v-stepper__label{
          a,
          a:hover{
            @extend .body-lg;
            color: $primary_darken !important;
            text-decoration: none;
          }
        }
        &.v-stepper__step--inactive,
        &.v-stepper__step--editable{
          .v-stepper__step__step{
            border: #fff 4px solid !important;
            background-color: #fff !important;
            box-shadow: inset 0px 0px 0px 4px $base_lighter;
            color: $primary_darken !important;
          }

          &.visited .v-stepper__step__step{
            background-color: $primary_darken !important;
            color: #fff !important;
          }
        }

        &.v-stepper__step--active{
          .v-stepper__step__step{
            border: #fff 4px solid !important;
            background-color: $primary !important;
            box-shadow: inset 0px 0px 0px 4px $primary;

            color: #fff !important;
          }
          .v-stepper__label{
            a,
            a:hover{
              color: $primary !important;
              font-weight: 700 !important;
            }
            hr{
              border-color: $primary !important;
              background-color: $primary;
            }
          }
        }
        &.v-stepper__step--error,
        &.v-stepper__step--error.visited,
        {
          .v-stepper__step__step{
            background-color: $error-darker !important;
            box-shadow: inset 0px 0px 0px 4px $error-darker;

            border: #fff 4px solid !important;
            .v-icon{
              font-size: 2.5rem;
              color: #fff;
              &::before{
                content: "\e645";
              }
            }
          }
          .v-stepper__label{
            hr{
              border-color: $error-darker !important;
              background-color: $error-darker;
            }
          }
        }
        &.v-stepper__step--complete,
        &.v-stepper__step--complete.visited
        {
          .v-stepper__step__step{
            background-color: $success !important;
            border: #fff 4px solid !important;
            box-shadow: inset 0px 0px 0px 4px $success;

            .v-icon{
              font-size: 34px;
              font-weight: bolder;
              color: #fff;
              &::before{
                content: "\e5ca";
              }
            }
          }
          .v-stepper__label{
            hr{
              border-color: $success !important;
              background-color: $success;
            }
          }
        }

      }

    }
  }
}

.v-stepper__wrapper {
  transition:none !important;
}
.step-of-pages-control{
  .span-of-pages{
    color: $primary !important;
    font-weight: normal !important;

    &.step-description{
      color: $base_darkest !important;
      font-weight: 700 !important;
      @extend .h3;
    }
  }
}

.v-stepper{
  &.summary-stepper{

    .v-stepper__step__step{

      width: 38px !important;
      height: 38px !important;
      min-width: 38px !important;
      background: white !important;
      border: 4px solid $base_darkest !important;
      color: $base_darkest !important;
      font-size: 2.4rem !important;
      font-weight: 700 !important;
      line-height: 3.1rem !important;
    }

    .v-stepper__step--editable {

      .v-ripple__container{
        display: none !important;
      }
    }
    .v-stepper__step--editable:hover {
      color: inherit !important;
      border: inherit !important;
      background: transparent !important;
    }


    &.v-stepper__wrapper {
      transition: none !important;
    }

    .v-stepper__content {
      border-left: 8px solid #D9E8F6 !important;
    }
  }
}