.v-menu__content {
  border-radius: 0 !important;
}

.atat-select {
  color: $base_darkest !important;
}
.v-input__slot {
  &:after {
    display: none;
  }
}

.v-select.theme--light.v-text-field--filled {
  > .v-input__control {
    > .v-input__slot {
      border: 1px solid $base_dark;
      background-color: white;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 0;
      &:hover, &:focus, &:active {
        background-color: $accent-cool-lightest !important;
        border: 1px solid $primary;
        outline: 1px solid $primary;
      }
    } 
  } 
}

.v-select--is-menu-active {
  > .v-input__control {
    > .v-input__slot {
      border: 1px solid $primary;
      outline: 1px solid $primary;
      background-color: white !important;
    }
  }
}

.v-menu__content {
  border: 1px solid $base;
  // margin-top: 40px; // EJY need on select dropdowns in member modal

  .v-list-item--active {
    background-color: white;
    &:before {
      background-color: transparent !important;
    }
    .v-list-item__title {
      color: $base_darkest;
    }
  }

  .v-list.v-select-list {
    padding: 0;
    border: 1x solid red !important;
    .v-list-item {
      border-bottom: 1px solid $base;
      &:hover, &:focus, &:active {
        &:before {
          background-color: transparent !important;
          opacity: 0;
        }  
        font-weight: bold;
        background-color: $accent-cool-lightest;
        .v-list-item__title {
          font-weight: bold;
        }
      }
    }
    .v-list-item__content {
      padding: 0 !important;
      .v-list-item__title {
        font-size: 17px;
        line-height: inherit;
      }
    }
  }
}

.v-input.no-details {
  .v-input__control {
    .v-text-field__details {
      display: none;
    }
  }
}
