

.v-tooltip__content {
  &::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #000 transparent transparent transparent;
  }
}