
@import "../utils/colors.scss";
@import "../utils/typography.scss";
// .form-field-label-error
.v-text-field{
    &.error--text{
        align-items: flex-end !important;
        .v-input__control{
            flex-direction: column-reverse !important;
            .v-text-field__details{
                padding-left: 0px !important;
            }
        }
    }
    // &.v-input--is-dirty
    // {

    // }
    .v-input__append-outer{
        margin-bottom: 15px !important;
    }
}

div.error--text{
    div.v-messages__message{
        @extend .form-field-label-error;
    }
}