
@import "../utils/colors.scss";
@import "../utils/typography.scss";
// .form-field-label-error
.v-text-field,
.v-select,
.v-textarea{
    &.error--text{
        align-items: flex-end !important;
        .v-input__control{
            flex-direction: column-reverse !important;
            background-color:transparent !important;
            fieldset{
                border: 3px solid $error-dark !important;
            }
            .v-text-field__details{
                padding-left: 0px !important;
            }
        }
    }

    &.success--text{
        fieldset{
            border: 3px solid $success !important;
        }
    }

    .v-icon {
        font-size: 20px;
    }
}

.v-input__append-outer-icon-holder{
    margin-bottom: 15px !important;
    position: absolute;
    right: -30px;
}

div.error--text{

    .v-input__append-outer{
        @extend .v-input__append-outer-icon-holder
    }

    label.v-label{
        animation: none !important;
    }
    div.v-messages__message{
        @extend .form-field-label-error;
    }
}

div.success--text{
    .v-input__append-outer{
        top: 0px !important;
        @extend .v-input__append-outer-icon-holder
    }
}

.v-input{
    &.v-input--checkbox{
        margin-left: 0px !important;
    }
    &.validation-above{
        .v-input__control{
            flex-direction: column-reverse !important;
            background-color: transparent !important;
            .v-input__slot{
                margin-bottom: 0px;
                background-color: #ffff !important;
                i.error--text,
                label.error--text{
                    color: $error-dark !important;
                }
            }
        }
        .v-messages.error--text{
            margin-bottom: 20px;
            .v-messages__message{
                color: $error-dark !important;
            }
        }
    }
}
._v_radio-button-cards {

    .v-input__control {
        flex-direction: column-reverse !important;
        background-color: transparent !important;
    }
    &.error--text{
        align-items: flex-end !important;
        .v-input__control{
            flex-direction: column-reverse !important;
            background-color:transparent !important;
            fieldset{
                border: 3px solid $error-dark !important;
            }
            .v-text-field__details{
                padding-left: 0px !important;
            }
        }
        .radio-wrapper {
            border-color: $error-dark !important;
            .v-label div,
            .card-content {
                color: $error-dark !important;
            }
        }

        .v-messages.error--text{
            margin-bottom: 20px;
            .v-messages__message{
                color: $error-dark !important;
            }
        }

        .v-icon{
            color: $error-dark !important;
        }
    }
}

.v-input__append-outer {
    .v-icon.error--text {
        color: $error-dark !important;
    }
}

.datepicker-text-box{
    .v-text-field__details{
        .error--text{
            position: absolute;
            width: 600px;
        }
    }
}
.atat-checkbox-list{
    &.error-item{
        label, i{
            color: $error-dark;
            cursor: pointer;
        }
    }
}

.atat-error-message{
    @extend .form-field-label-error;
}

.error-icon-label-left {
    .v-messages__message {
        padding-left: 25px;
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            content: "error";
            font-family: "Material Icons";
            -webkit-font-feature-settings: "liga";
            color: $error-dark;
            font-weight: normal;
            font-size: 20px;
        }
    }
}