._anticipated-users-accordion{
  .v-expansion-panel-header {
    background-color: $primary;
    width: 100%;
    border-bottom: 1px solid $base-lighter;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
    padding-left: 44px !important;
    margin-bottom: 0;
    margin-top: 0;
    &--active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:hover {
      background-color: $primary-dark;
    }

    .h4 {
      color: white !important;

      &._item-count {
        color: $primary-lighter !important;
      }
    }

    .v-expansion-panel-header__icon {
      left: 12px;
      top: 13px;

      .v-icon {
        color: white !important;
      }
    }
  }

  .v-expansion-panel-content__wrap {
    padding: 24px 40px 0 40px;
  }
  .v-expansion-panel-content {
    border: 1px solid $base-lighter;
    border-top:0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }


}
