._radio-focus {
  background: $primary-lighter !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}
._radio-button {
  &.v-item--active {
    .v-icon {
      color: $primary !important;
      z-index: 2;
    }
  }
  &.v-radio--is-focused {
    color: $primary !important;
    .v-input--selection-controls__ripple {
      &:before {
        @extend ._radio-focus;
      }
    }
  }
  label {
    color: $base-darkest !important;
  }
  .v-icon {
    color: $base !important;
    z-index: 2;
  }
  .v-input--selection-controls__input {
    &:hover {
      .v-input--selection-controls__ripple {
        &:before {
          @extend ._radio-focus;
        }
      }
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      background-color: $white;
      z-index: 1;
    }
  }
}
._radio-button-card {
  @extend ._radio-button;
  background-color: $base-lightest !important;
  border: solid 2px $base-light;
  border-radius: 4px !important;
  padding: 12px 0px 12px 12px;
  &.v-item--active {
    background-color: $primary-lighter !important;
    border: solid 2px $primary;
    border-radius: 4px !important;
  }
  &:hover, &.v-radio--is-focused {
    border: $primary solid 2px;
    background-color: $primary-lighter !important;
    color: $primary;
  }
}