._checkbox, ._checkbox-card {
  .v-label {
    transition: none !important;
    animation: none !important;
  }
}

._checkbox-group-label {
  font-weight: 500;
}

._checkbox {
  margin-bottom: 16px;

  ._description {
    font-size: 1.4rem;
    color: $base;  
  }
  
  &.error--text {
    ._description {
      color: $error !important;
    }
  }

  &.v-input--is-label-active {
    .v-icon {
      color: $primary !important;
    }
  }

  &.v-input--is-focused {
    color: $primary !important;

    .v-input--selection-controls__ripple {
      &:before {
        @extend ._radio-focus;
      }
    }
  }

  &.v-input--checkbox {
    margin-top: 0;
    padding-top: 0;
  }

  label {
    color: $base-darkest !important;

    &.error--text {
      color: $error-dark !important;
    }
  }

  .v-icon {
    color: $base !important;
    z-index: 2;
    &.error--text {
      color: $error !important;
    }
  }

  .v-input--selection-controls__input {
    &:hover {
      .v-input--selection-controls__ripple {
        &:before {
          @extend ._checkbox-focus;
        }
      }
    }

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 4px;
      left: 4px;
      background-color: $white;
      z-index: 1;
    }
  }

  .v-input__slot {
    align-items: start;
    margin-bottom: 16px;
    transition: none;
  }

  &._has-other {
    &._other-selected {
      .v-input__slot {
        margin-bottom: 0;
      }
    }

    .v-input__append-outer {
      width: 100%;
    }
  }
  
  .atat-text-field-error {
    .v-icon, .field-error {
      color: $error !important;
    }
  }
  &.v-input--is-disabled {
    .v-icon {
      color: $disabled !important;
      z-index: 2;
    }
    .v-input--selection-controls__input {
      &:after {
        background-color: $base-lightest;
      }
    }
    .v-label {
      color: $disabled !important;
    }
  }

}

._checkbox-card {
  @extend ._checkbox;
  background-color: $base-lightest !important;
  border: solid 1px $base-lighter;
  border-radius: 4px !important;
  padding: 12px;

  &.v-input--is-label-active {
    background-color: $primary-lighter !important;
    border: solid 1px $primary;
    outline: solid 1px $primary;
    border-radius: 4px !important;
    &.v-input--is-focused {
      box-shadow:0px 0px 0px 1px $primary, 0px 0px 0px 3px white, 0px 0px 0px 6px $primary !important;
    }
  }

  &:hover:not(.v-input--is-label-active) {
    border: solid 1px $primary;
    color: $primary;
  }
  &.v-input--is-focused {
    box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 4px $primary !important;
  }

  &.v-input--checkbox {
    margin-top: 12px !important;;
    padding-top: 12px !important;;
  }
  &.error--text {
    background-color: $base-lightest !important;
    border: solid 2px $error;
    border-radius: 4px !important;
    padding: 12px 0px 0px 12px;
    label {
      color: $error-dark !important;
    }
  }
  .v-messages {
    min-height: 0;
  }
  .v-input__slot {
    margin-bottom: 0px;
    align-items: start;
  }
  .card-label {
    font-weight:700 !important;
    font-size:1.6rem;
    margin-bottom:4px !important;
  }
  label {
    color: $base-darkest !important;
    padding-top: 2px;
  }
}
._checkbox-focus {
  background: $primary-lighter !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}