.v-select__content, .v-autocomplete__content, .v-list-item__content { // the dropdown
  hr {
     margin: 8px 0;
  }
  .v-list-item {

    min-height: unset;
    &._item-disabled {
      @extend .text-disabled;
      &:hover {
        cursor: default;
        &:before {
          background-color: white;
        }
      }
    }
    &._selected {
      background-color: $primary-lighter;
      .v-list-item-title {
        font-weight: 700 !important;
      }
      &:hover:before {
        background-color: transparent;
      }
    }
  }
  .v-list-item__content {
    padding: 12px 0 !important;
  }

  .v-list-item-title, .v-list-item-subtitle {
    text-align: left;
    margin-bottom: 0 !important;
    line-height: 1.25 !important;
    font-weight: 400 !important;
    white-space: normal;
  }
  .v-list-item-title {
    font-size: 1.6rem !important;
  }
  .v-list-item-subtitle {
    font-size: 1.4rem !important;
    color: $base-darker !important; 
  }
}

.v-menu__content {
  box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.5) !important;
  border-radius: 8px !important;
}

._atat-select {
  &:hover {
    cursor: pointer !important;
  }

  .v-field__input {
    min-height: 40px !important;
    padding: 0 12px;
  }

  ._dropdown-icon {
    width: 20px;
    height: 24px;
    display: flex;
    align-items: center;
  }

  .v-select__slot {
    height: 38px;
  }

  &._small {
    .v-subheader {
      font-size: 1.2rem;
      height: 30px;
    }
    .v-select__selection {
      font-size: 1.4rem !important;
    }
    .v-input__slot {
      padding: 0 4px 0 12px !important;
      min-height: 32px !important;
      height: 32px !important;
    }
    .v-text-field {
      input[type="text"] {
        padding: 0;
        &:hover {
          cursor: pointer;
        }
      } 
    }
    .v-select__selections {
      padding: 0 !important;
    }
    .v-select__selection {
      margin: 0;
    }
    fieldset {
      height: 36px;
    }
    .v-select__slot {
      height: 32px;
    }

  }
  .v-field__append-inner {
    // dropdown arrow icon
    margin-top: 0 !important;
    padding: 0;
  }  
  
  &._alt-style {
    fieldset {
      border: none;
      background-color: $primary-10;
    }

    &:hover {
      fieldset {
        background-color: $primary-20;
      }
    }
  }

  &._alt-style-clean {

    fieldset {
      border: none;
      background-color: transparent;
    }
    border-radius: 4px;
    &:hover {
      background-color: $primary-20;
    }
    .v-field--appended {
      padding-right: 4px !important;
    }
  }

  &._invite-members-modal {
    .v-menu__content {
      min-width: 180px !important;
      left: -75px !important;
    }
    .v-field__input {
      min-height: 32px !important;
      height: 32px !important;
      padding-right: 0 !important;
    }
  }

  &._search-bar-sort {
    .v-menu__content {
      min-width: 220px !important;
      left: -50px !important;
    }
    .v-field__input {
      padding-right: 0 !important;
    }
  }
}

._atat-textfield {

  .v-field__append-inner {
    // dropdown arrow icon
    padding: 0;
    .v-icon {
      margin: 0;
    }
  }  

  .v-select {
    .v-field {
      padding-right: 0;
    }

    input {
      display: none;
    }

    .v-select__selection {
      margin-left: 8px;
    }
  }


}

.v-select__content {
  .v-list-subheader__text {
    text-transform: uppercase;
    color: $base;
    font-size: 14px;
    font-weight: 500;
  }
}

.v-overlay .v-select__content {
  max-height: none !important;
  .v-list-item__overlay {
    opacity: 0 !important;
  }
  .v-list-item:not(.v-list-item--active) {
    &:hover {
      background-color: $base-lightest;
    }
  }
}

