._atat-phone-field {
  .v-list {
    max-height: 320px !important;
  }

  ._country-select-button {
    border: 1px solid $base;
    height: 42px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px;
  }  
  ._country-select {
    padding-right: 0;
    max-width: 67px;
    width: 67px;

    &.error--text{
      fieldset{
        border-right-width: 0px;
      }
    }

    .v-input__control > {

      .v-input__slot {
        padding-top: 22px;
        padding-right: 4px;
        margin-bottom: 0;
      }

    }

    fieldset {
      border-radius: 4px 0 0 4px;
    }
    .v-select__selection {
      .fi {
        min-width: 20px;
      }
    }
    .v-select__selections {
      flex-direction: column-reverse;
      input {
        max-width: 0;
        max-height: 0;
      }
      .fi {
        margin-right: 11px;
        position: relative;
        top: -8px;
      }
    }
    .v-input__icon--append {
      i.v-icon {
        margin-left: 4px;
      }
    }
    .v-field__append-inner {
      right: 0;
    }
    .v-field {
      padding-right: 2px;
    }
    
  }

  .v-list {
    position: relative;
    padding-top: 60px;
  }

  ._country-search {
    background-color: white !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .v-field__overlay {
      background-color: transparent !important;
    }
    .v-field__append-inner {
      padding-right: 8px;
    }
  }
    
  ._phone-number-input {
    max-width: 351px;
    width: 351px;
    &.v-text-field--outlined.v-input--is-focused {
      .v-field {
        border-left-width: 2px;
        border-color: $primary !important;
      }
    }
    .v-field {
      border-left-width: 0;
      border-radius: 0 4px 4px 0;
    }
    .v-text-field__prefix {
      padding-left: 8px;
      color: $base-darkest;
    }
  }

  .v-list {
    min-width: 320px;

    ._suggested-label {
      margin-top: 24px;
      position: relative;
      &:before {
        content: "SUGGESTED";
        color: $base;
        position: absolute;
        top: -20px;
        left: 15px;
        font-size: 12px;
        font-weight: 500;
      }
    }

    ._suggested {
      + ._suggested {
        border-bottom: 1px solid $base-lighter;
      }
    }
  }
}

._atat-phone-extension-field {
  ._phone-extension-input {
    width: 140px;
  }
}

._country-item {
  min-width: 300px !important;
  padding-top: 6px;
  padding-bottom: 6px
}
