._atat-textfield {
  .v-field__input {
    padding: 0 !important;
  }
  .v-text-field {
    .v-field__input {
      color: $base-darkest;
      opacity: 1;
    }
    .v-text-field__suffix {
      color: $base-light;
    }
    &.v-input--is-dirty {
      .v-text-field__suffix {
        color: $base-darkest;
      }
    }

    .v-input__prepend-inner, .v-input__append-inner {
      margin-top: 6px !important;
      z-index: 1;
    }


    
    &:not(.v-textarea).v-field__field {
      max-height: 40px;
    }

    &.error--text {
      fieldset,
      fieldset:focus {
        border-color: $error !important;
        border-width: 2px;
      }

      .v-text-field__suffix {
        color: $error;
      }
    }

    .atat-text-field-error {
      i {
        margin-top: 1px;
      }
    }
    
    &.text-right {
      input {
        text-align: right !important;
      }
    }

    &.v-input--is-disabled {
      .v-input__control {
        background-color: $base-lightest;
        input {
          color: $base-darkest;
        }
      }
    }

    ._append-text {
      color: $base-light;
      line-height: 1.67em;
      margin-right: 2px;
      z-index: 1;
    }
    &.v-input--is-focused {
      ._append-text {
        color: $primary;
      }
    }
  }


  .v-text-field:not(.v-textarea) {
    .v-text-field__slot {
      max-height: 38px;
    }
  }

  &._append-dropdown {
    .v-text-field:not(.v-select) {
      .v-field--variant-outlined {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }  
      width: calc(100% - 60px);
    }
    .v-select {
      .v-field {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left-color: transparent !important;
      }
      width: 60px;
    }
    .v-menu__content {
      min-width: 150px !important;
      left: -90px !important;
    }
    .v-select__selections {
      min-width: 22px;
    }
    .v-input__append-inner {
      padding-left: 0 !important;
    }
    
    ._atat-select{
      #Error{
        display: none;
      }
    }
  }

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.v-field__outline {
  .v-field__outline__start, .v-field__outline__end {
    border: none !important;
  }
}

.v-field--variant-outlined {
  opacity: 1 !important;
  border: 1px solid $base;
  &.v-field--focused {
    border: 1px solid $primary !important;
    outline: 1px solid $primary;
  }
  &.v-field--error, &.v-input--error {
    border: 1px solid $error !important;
    outline: 1px solid $error;
  }
 
}