._task-order-container.v-sheet.v-card  {
  border: 1px solid $base-lighter !important;
  padding: 24px;

  ._title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1rem;
    color: $base-dark;
  }
  ._title-value {
    color: $base-darkest;
    font-size: 1.4rem;
    line-height: 1;
  }
}
