header._atat-page-header {
  height: 6rem !important;
  background-color: $white !important;
  z-index: 100 !important;
  
  .v-toolbar__content {
    height: 6rem !important;
    border-bottom: $base-lighter solid 1px !important;
    padding: 16px 24px !important;

    ._dashboard & {
      padding: 16px 54px !important;
    }
  }

  ._more-menu-button.v-btn.v-size--default {
    min-width: 36px;
    width: 36px;
    
    &:hover {
      background-color: $base-lightest !important;
    }

    &[aria-expanded=true] {
      background-color: $primary-lighter !important;
    }
  }

  ._header-button.theme--light.v-btn.v-btn--has-bg {
    background-color: transparent;
  }
  
  ._header-menu {
    .v-menu__content {
      .v-list-item {

        &:hover {
          background-color: $base-lightest;
          cursor: pointer !important;
        }

        &.active {
          background-color: $base-lightest;
          font-weight: 700;

          &:hover {
            cursor: default !important;

            &:before {
              opacity: 0;
            }
          }
        }
      }

      .v-list-item__title {
        font-size: 14px;
      }
    }
  }
}
