.v-tooltip__content {
  display: block !important;
  background-color: transparent !important;
  opacity: 1 !important;
  ._tooltip-content-wrap {
    opacity: 0 !important;
    transition: opacity 0.25s !important;
    background-color: rgba($base-darkest, 0.9);
    padding: 8px 12px !important;
    line-height: 1.5em !important;
    display: block;
    border-radius: 4px;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: calc(50% - 10px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: rgba($base-darkest, 0.9) transparent transparent transparent;
    }
  }
  
  &.menuable__content__active {
    ._tooltip-content-wrap {
      opacity: 1 !important;
    }
  }
}
