._slideout-panel {
  ._panel-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $base-dark;
  }
  
  ._panel-header {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 16px 24px;
    border-bottom: 1px solid $base-lighter;
    border-left: 1px solid $base-lighter;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 2;
  }
  
  ._panel-content-wrap {
    padding: 16px 16px 24px;
    overflow-y: scroll;
    max-height: calc(100vh - 60px);
  }
._portfolioDrawer {
  font-size: 14px !important;
  ._drawerTextArea {
    .v-input__slot {
      font-size: 14px !important;
      &::before {
        display: none
      }
      &::after {
        display: none
      }
      textarea {
        padding-top: 0px;
      }
    }
  }
  hr {
    z-index: auto;
  }
  ._text-link {
    text-decoration: underline;
    color: $primary !important;
    &:hover {
      cursor: pointer;
    }
  }
}

}
