._atat-phone-field {
  ._country-select {
    padding-right: 0;
    max-width: 67px;
    width: 67px;
    &.error--text{
      fieldset{
        border-right-width: 0px;
      }
    }


    .v-input__control > {

      .v-input__slot {
        padding-top: 22px;
        padding-right: 4px;
        margin-bottom: 0;
      }

    }

    fieldset {
      border-radius: 4px 0 0 4px;
    }

    .v-select__selections {
      flex-direction: column-reverse;
      input {
        max-width: 0;
        max-height: 0;
      }
      .fi {
        margin-right: 11px;
        position: relative;
        top: -8px;
      }
    }
    .v-input__icon--append {
      i.v-icon {
        margin-left: 4px;
      }
    }
  }
  ._phone-number-input {
    max-width: 351px;
    width: 351px;
    &.v-text-field--outlined.v-input--is-focused {
      fieldset {
        border-left-width: 2px;
        border-color: $primary !important;
      }
    }
    fieldset {
      border-left-width: 0;
      border-radius: 0 4px 4px 0;
    }
    .v-text-field__prefix {
      padding-left: 4px;
      color: $base-darkest;
    }
  }

  .v-menu__content.theme--light.menuable__content__active {
    padding-top: 0;
    min-width: 420px !important;
    width: 420px;
    ._dropdown-text-field + ._suggested {
      .v-list-item__content {
        overflow: visible;
        position: relative;
        &:before {
          content: "SUGGESTED";
          color: $base;
          position: absolute;
          top: -33px;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
    .v-input__append-inner {

      margin-top: 0;
    }
    ._country-list {
      padding-top: 6px;
      padding-bottom: 6px
    }
    ._suggested {
      + ._suggested {
        border-bottom: 1px solid $base-lighter;
      }
    }
    .v-select-list {
      padding-top: 0;
      position: relative;
    }
    ._dropdown-text-field {
      align-items: center;
      background-color: white;
      position: sticky;
      height: 48px;
      width: 100%;
      top: 0;
      z-index: 1;
      padding-top: 0;
      padding-right: 12px;
      padding-left: 12px;
      margin-top: 0;
      margin-bottom: 36px;
      color: $primary;
      border-bottom: 1px solid $base-lighter;
      .v-input__icon {
        &.v-input__icon--append {
          i.v-icon {

            padding-top: 8px;
            transform: none !important;
            color: $base-dark !important;
          }
        }
        &.v-input__icon--clear {
          button.v-icon {
            padding-top: 4px;
            transform: none !important;
            color: $base-dark !important;
          }
        }
      }
      &.v-input--is-focused {
        .v-input__icon {
          &.v-input__icon--append {
            i.v-icon {
              transform: none !important;
              color: $base-dark !important;
            }
          }
        }

      }
      .v-input__slot {
        &:after, &:before {
          border: none;
        }
      }
    }
    ._active {
      background-color: $base-lightest;
      ._country-name {
        font-weight: 700;
      }
    }
  }

}

._atat-phone-extension-field {
  ._phone-extension-input {
    width: 140px;
  }
}


