.theme--light {
  &.v-navigation-drawer {
    &.global-side-nav-bar {
      background-color: $white;
      padding: 24px !important;
      .v-navigation-drawer__border {
        display: none;
      }
      .v-list {
        padding: 0;
        .v-list-item {
          min-height: unset;
          padding: 0;
          &:last-child {
            a {
              &:after {
                background-color: transparent !important;
              }
            }
          }
          a {
            font-size: 1.6rem;
            text-decoration: none;
            color: $base-dark;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            &:focus-visible {
              .step-text {
                text-decoration: underline;
              }
            }
            &:after {
              position: absolute;
              left: 14px;
              bottom: -30px;
              content: "";
              width: 1px;
              height: 100%;
              background-color: $base-light;
            }
            .step-text {
              margin-top: 2px;
            }
            .step-circle {
              flex: 0 0 28px;
              font-size: 1.2rem;
              border: 1px solid $base-light;
              margin-right: 8px;
              text-align: center;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              line-height: 26px;
              background-color: $white;
              outline: 2px solid $white;
            }
            &:hover {
              .step-text {
                color: $base-darkest;
              }
              .step-circle {
                background-color: $base-lightest;
                border-color: $base;
              }
              &.step-complete {
                .step-circle {
                  background-color: $success-lighter;
                }
              }
            }

            &.step-complete {
              .step-text {
                color: $base-darkest;
              }
              .step-circle {
                border-color: $success;
                position: relative;
                color: $success-dark;
                &:before {
                  content: "check_circle";
                  position: absolute;
                  color: $success;
                  top: -2px;
                  right: -5px;
                  line-height: 1;
                  z-index: 2;
                  font-family: "Material Icons";
                  -webkit-font-feature-settings: "liga";
                  font-size: 12px;
                  font-weight: normal;
                  display: inline-block;
                  text-decoration: none !important;
                  vertical-align: text-bottom;
                }
                &:after {
                  content: "";
                  position: absolute;
                  background-color: $white;
                  top: 0;
                  right: -3px;
                  line-height: 1;
                  z-index: 1;
                  width: 8px;
                  height: 8px;
                  display: inline-block;
                  border-radius: 50%;
                }
              }
            }            
            &.router-link-exact-active  {
              color: $primary;
              .step-text {
                font-weight: 500;
              }
              .step-circle {
                border-color: $primary;
                background-color: $primary-lighter;   
                color: $primary;            
              }
              &:after {
                background-color: $primary;
              }
            }

          }
        }
      }
    }
  }
}

