#lineChartTooltip {
  padding: 16px !important;
  max-width: 270px;

  th {
    text-align: left;
    padding-bottom: 8px;
    font-size: 1.4rem;

    h1 {
      color: $white;
    }

    hr {
      margin: 8px 0;
    }
  }

  tbody {
    td {
      vertical-align: top;  
      font-size: 1.4rem;    
      line-height: 1.67rem;
      padding-bottom: 4px;
    }

    tr {
      td:nth-child(2) {
        padding-right: 8px;
      }

      td:last-of-type {
        text-align: right;
      }
    } 
  }
}

._legend-square {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#DonutChartTooltip {
  box-shadow: 0px 1px 8px rgba(27, 27, 27, 0.4);
  padding: 4px 8px !important;
}