.atat-button-hover {
  background-color: transparent !important;
  opacity: initial !important;
  box-shadow: none !important;
  -ieVar-❗background-color: none !important;
}

%v-btn-text {
  text-transform: none !important;
  font-weight: bold !important;
  @extend %body;
}

.v-btn {
  box-shadow: none !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 7px 20px 8px !important;
  @extend %v-btn-text;

  // removes the default darker opacity assigned by vuetify
  &:hover::before, &:focus::before {
    opacity: 0 !important;
  }
}
  
.v-btn{
  box-shadow: none !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 7px 20px 8px !important;
  &.v-btn--icon {
    padding: 0 !important;
  }
  @extend %v-btn-text;

  &.primary.theme--light{
    background-color:  $primary !important;
    color: #fff !important;
    &:hover{
      box-shadow: none !important;
      background-color: $primary-dark !important;
    }

    &:active {
      background-color: $primary-darker !important;
    }
  }
  
  &.secondary.theme--light {
    background-color: $white !important;
    border: 2px solid $primary !important;
    color: $primary;

    &:hover {
      background-color: rgba($primary, 10%) !important;
    }

    &:active {
      background-color: rgba($primary, 20%) !important;
    }
  }

  &._normal {
    font-weight: normal !important;
  }

  &._small-text {
    font-size: 1.4rem !important;
  }

  &.link-button, &.tertirary {
    padding: 6px 12px !important;

    &.tooltip-button {
      padding: 12px !important;
    }

    background-color: transparent !important;

    i {
      margin-right: 4px;
    }

    span {
      color: $primary !important;
      text-decoration: underline;
      font-weight: normal;
      opacity: 1 !important;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $primary-lighter !important;
    }

    &.no-hover{
      &:hover,
      &:focus,
      &:active {
        background-color: transparent !important;
      }
    }
   

    &.no-border {
      span {
        text-decoration: none !important;
      }
    }

    &.font-weight-bold {
      span {
        font-weight: 700 !important;
      }
    }
  }

  &.v-btn--text.theme--light {
    .v-icon {
      color: $primary !important;
    }

    .v-btn__content {
      opacity: 1 !important;
      font-weight: normal !important;
      
      span {
        color: $primary !important;
      }      
    }
  }
  
  &._icon-only {
    background-color: transparent !important;
    padding: 4px !important;
    height: auto !important;
    min-width: unset !important;
    color: $base;

    &:hover {
      background-color: $icon-only-hover !important;
    }
    
    &:active {
      background-color: $icon-only-active !important;
    }

    &.v-btn--disabled.v-btn--has-bg {
      background-color: transparent !important;
    }

    &._plus {
      padding: 4px 5px 4px 3px !important; 
      height: 24px !important; 
      width: 24px !important;      
    }
  }
 
}
