
.v-textarea{
  fieldset{
    border: 1px solid $base;
    border-radius: 4px;
  }
  textarea{
    @extend %body;
  }
  .v-messages.error--text {
    display: none;
  }
  .v-text-field__details {
    display: flex;
    justify-content: flex-end;
    padding-right: 0 !important;
  }
}

.atat-textarea {
  label {
    font-weight: 500 !important;
  }
}
