._atat-stepper {
  background-color: transparent !important;

  .v-list-item{
    display: flex;
    align-items:flex-start;
    padding: 0px;

    &:hover {
      background-color: transparent !important;
    }

    &.v-list-item--link {
      &:hover {
        cursor: default;
      }
      &:before{ 
        background-color: transparent !important;
      }
      &:after {
        // vertical line
        background-color: $primary;
      }
    }

    .v-list-item__content{
      padding-top: 2px;
    }

    &:after {  //verical line
      position: absolute;
      top: 0px;
      left: 18px;
      bottom: -30px;
      content: "";
      width: 4px;
      background-color: $primary;
    }
    &:last-child::after{
      display: none;
    }
    ._step-circle {
      font-size: 2.0rem;
      font-weight: 500;
      border: 4px solid $primary;
      margin: 0px 12px 12px 0px;
      text-align: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 32px;
      background-color: $white;
      z-index: 2;
    }
  }
}

._csp-card {
  width: 200px !important;
  max-width: 200px;
  
  height: 160px;
  &._calculator-card {
    height: 245px;
    width: 169px !important;
    max-width: 169px;
  }

  margin: 10px 16px 20px 0px;
  box-sizing: border-box;
  align-self: stretch;
  flex-grow: 1;
  background: #FFFFFF;
  border: 1px solid $base-light !important;
  border-radius: 4px;
  box-shadow: none !important;
  text-align: center;
  padding: 12px;
  font-weight: 700;

  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;

  .v-label {
    flex-direction: column !important;
  }

  .v-input--selection-controls__input {
    // display: none !important;
    opacity: 0;
    height: 0 !important;
  }

  ._svg-icon-div {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 84px;
  }
  ._csp-name {
    font-weight: 500;
    text-align: center;
    font-family: $heading-font;
    height: 52px;
  }

  ._csp-link-div {
    ._csp-link{
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      text-decoration: none;
      margin: 8px 0;
      &:hover {
        text-decoration: underline;
      }
    }
    width: 100%;
    margin-top: 8px;
  }

  &.v-radio {
    &:hover {
      border-color: $primary !important;
      outline: 1px solid $primary;
      cursor: pointer;
    }
  }
  
  &.v-item--active {
    border-color: $primary !important;
    outline: 1px solid $primary;
    background-color: $primary-lighter;
  }

  &.v-radio--is-focused {
    border-color: $primary !important;
    outline: 1px solid $primary !important;
    box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px $primary !important;
  }

}