
.atat-date-picker{
  .v-input__control{
    display: block;
    width: 100% !important;
    input{
      color: $base-darkest;
      opacity: 1;
      padding: 9px 16px;
    }
  }
  &.error--text{
    &.error--text{
      label{
        color: $base-darkest !important;
      }
    }
  }
}
