.v-dialog {
  overflow-x: hidden;
  .v-card {
    .v-card__title {
      padding: 40px 40px 8px 40px;
    }
    .v-card__text {
      padding: 0px 40px 60px 40px
    }
    .v-card__actions {
      border-top: 1px solid $base-lighter;
      padding:16px 24px;
      .v-btn {
        &.link-button{
          padding: 6px 12px !important;
          &.tooltip-button {
            padding: 12px !important;
          }
          background-color: transparent !important;
          i{
            margin-right: 4px;
          }
          span{
            color: $primary !important;
            text-decoration: none !important;
            font-weight: normal;
            opacity: 1 !important;
          }
          &:hover,
          &:focus,
          &:active {
            background-color: $primary-lighter !important;

          }
          &.no-border{
            span{
              text-decoration: none !important;
            }
          }
          &.font-weight-bold{
            span{
              font-weight: 700 !important;
            }
          }
        }
      }
    }
  }

  .v-navigation-drawer {
    .v-card__title {
      position: sticky;
      top: 0;
      padding: 32px 40px;
      border-bottom: 1px solid $base-lighter;
      background-color: white;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
}