._navbar-height {
  height: 56px !important;
}

._menu-text {
  font-size: 1.4rem !important;
  font-weight: 400;
}

#TopNavBar {
  @extend ._navbar-height;
  background-color: $base-darker;
  z-index: 101 !important;
  
  button.v-btn {
    @extend ._navbar-height;
    border-radius: 0;
    padding: 0 15px !important;
    height: 56px !important;
    background-color: transparent;
    &:hover,
    &:focus{
      background-color: $base-dark;
    }
    .v-btn__content{
      @extend ._menu-text;
    }
    &._profile {
      .v-btn__content {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $primary-lighter;
        font-size: 1.1rem !important;
        font-weight: 700;
        text-transform: uppercase;
        color: $base-darker;
      }
    }
  }

  .v-menu {
    .v-menu__content{
      z-index: 100 !important;
      border-radius: 4px !important;
      padding: 8px 0;
      background-color: white;

      .v-list{
        padding: 0px;
        
        .v-list-item {
          min-height: 40px;
          // height: 40px;
          &:hover{
            background-color: $base-lightest !important;
            cursor: pointer;
          }

          .v-list-item__title{
            @extend ._menu-text;
          }
        }
      }
    }
  }

  ._top-nav-menu {
    ._menu-icon {
      width: 20px;
      text-align: center;
      > div {
        margin: 0 auto;
      }
    }

    &._profile-menu {
      min-width: 280px;
      ._initials {
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        border-radius: 50%;
        background-color: $primary-lighter;
        font-size: 1.6rem !important;
        font-weight: 700;
        text-transform: uppercase;
        color: $base-darker;
      }
    }
  }
}

