._search-input.v-text-field {
  .v-field.v-field--variant-outlined {
    top: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none !important;
    outline: 1px solid $base;
    max-height: 40px;
    &.v-field--focused {
      border: none;
      outline: 2px solid $primary;
      outline-offset: -1px;
    }
    

  }
  .v-field__field {
    max-height: 36px;
  }
  .v-field__input {
    max-height: 36px;
    padding: 10px 12px;
  }
  .v-text-field__details {
    display: none;
  }
  .v-input__slot {
    margin-bottom: 0;
  }
}

._search-button.v-btn.v-theme--light {
  &.v-btn--size-default {
    height: 40px;
    min-width: 48px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 15px 8px !important;
  }
  &.v-btn--disabled {
    background-color: $disabled-dark !important;
  } 
}
