._feedback-form {
  position: fixed;
  right: 100px;
  bottom: 0px;
  max-width: 461px !important;
  display:flex;
  flex-direction: row-reverse;
  z-index: 1;

  ._feedback-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-lightest;
    padding: 8px 8px 0 8px;
    border-radius: 16px 16px 0 0;
    position: relative;
    &._thank-you{
      display: none;
    }


    .v-btn {
      border-radius: 12px;
      gap: 4px;

      &:hover {
        background-color: $base-10
      }
      ._toggle {
        transition: transform .3s ease-in-out !important;
        transform: rotate(180deg);
        &._open {
          transform: rotate(360deg) !important;
        }
      }
    }
  }

  ._feedback-body {
    display:flex;
    padding: 40px 40px 60px 40px;
    background-color: $base-lightest;
    border-radius: 16px 0 0 0;
    &._thank-you{
      border-radius: 16px 16px 0 0;
      justify-content: center;
    }
    ._experience-text {
      height:16px;
    }
    ._mood-div {
      display: flex;
      height:62px;
      width:62px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      &:hover {
        border-radius:50%;
        background-color: $primary-10;
        box-shadow:$primary-10 1.5px 0 0 5px;
      }
    }
  }
}
