header._atat-page-header {
  height: 6rem !important;
  background-color: $white !important;
  .v-toolbar__content {
    height: 6rem !important;
    padding: 16px 24px !important;
    border-bottom: $base-lighter solid 1px !important;
  }
}
