#file-upload-base{
  width: 740px;
  color: $base !important;
  margin: 0px;
  padding: 0px;
  // border: 1px solid $base-light !important;
}

#v-text-field--is-hovering{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect rx='8' ry='8' width='100%25' height='100%25' fill='%235444961a' stroke='%23544496' stroke-width='4' stroke-dasharray='4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") !important;
}

.atat-file-upload,
.atat-file-upload.v-input--is-focused.primary--text{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='%23fbfbfb' rx='8' ry='8' stroke='%2361686c' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") !important;  
  width: 740px;
    border-radius: 8px;
    color: $base !important;
    margin: 0px;
    padding: 0px;
    .v-input__control{
      .v-input__slot{
        &::before,
        &::after{
          border: none;
          transition: none !important;
        }
        margin: 0px;
        .v-input__prepend-inner{
          margin: 0px;
          padding: 0px;
          transition: none !important;
          width: 100%;
          .content{
            cursor: pointer;
            width: 100%;
          }
          .content-mini{
            cursor: pointer;
            padding: 16px 20px 21px 26px;
          }
        }
      }
    }
  &:hover,
  &.v-text-field--is-hovering{
    @extend #v-text-field--is-hovering;
  }
}



.file-loading-div{
  @extend #file-upload-base; 
  padding:  24px 0 26px 32px;
  border-radius: 8px !important;
  background-color: $offwhite !important;
  border: 1px solid $base-light !important;

  .content-div{
    height: 46px;
    .filename-and-progress-bar-div{
      height: 46px;
      max-width: 475px;
      .filename-and-extension{
        max-width: 440px;
        overflow: hidden !important;
        .name{
          // text-overflow: ellipsis;
          max-width: 440px;
          white-space: nowrap; 
          overflow: hidden;
        }
        .ext{
          white-space: nowrap;
        }
      }
      .v-progress-linear{
        width: 464px;
        .v-progress-linear__determinate,
        .v-progress-linear__background{
          background-color: $primary !important;
        }
      }
      
      ._external-link{
        display: inherit;
      }
    }
  }
}
