._atat-tooltip-wrapper {
  transition: opacity 0.25s !important;
  display: block !important;
  opacity: 1 !important;
  z-index: 10000 !important;

  ._tooltip-content-wrap {
    transition: opacity 0.25s !important;
    background-color: rgba($base-darkest, 0.9);
    padding: 8px 12px !important;
    display: block;
    border-radius: 4px;
    position: relative;
    > div {
      color: $white;
      font-size: 1.4rem;
      line-height: 1.5em !important;
    }

    &:not(._left, ._no-pointer)::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: calc(50% - 10px);
      width: 0;
      height: 0;
      border-style: solid;
      border: 10px solid transparent;
      border-top-color: rgba($base-darkest, 0.9);
    }
    &._left::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: -15px;
      top: calc(50% - 10px);
      border: 10px solid transparent;
      border-left-color: rgba($base-darkest, 0.9);
    }
    
  }
  
  &.menuable__content__active {
    ._tooltip-content-wrap {
      opacity: 1 !important;
    }
  }
}

.v-btn._tooltip-button {
  height: 19px;
  &:focus-visible {
    &:after {
      border: none !important;
      background-color: rgba($primary, 0.5);
    }
  }
}