
.v-textarea{
  fieldset{
    border: 1px solid $base;
    border-radius: 4px;
    max-height: none !important;
  }
  textarea{
    @extend %body;
    padding-top: 10px;
    margin-top: 0 !important;
  }

  .v-text-field__details {
    .v-messages {
      display: none !important;
    }
  }

  &.error--text {
    .v-counter {
      color: $error !important;
    }
  }

  .v-text-field__details {
    display: flex;
    justify-content: flex-end;
    padding-right: 0 !important;
  }
}

.atat-textarea {
  label {
    font-weight: 500 !important;
  }
}
