._atat-phone-field {
  ._country-select {
    padding-right: 0px;
    max-width: 67px;
    .v-input__control > {
      .v-input__slot {
        padding-right: 4px !important;
      }
    }
    fieldset {
      border-radius: 4px 0px 0px 4px;
    }
  }
  ._phone-number-input {
    max-width: 351px;
    &.v-text-field--outlined.v-input--is-focused {
      fieldset {
        border-left-width: 2px;
        border-width: 2px;
        border-color: $primary !important;
      }
    }
    fieldset {
      border-left-width: 0px;
      border-radius: 0px 4px 4px 0px;
    }
    .v-text-field__prefix {
      padding-left: 4px;
      color: $base-darkest;
    }
  }
  .v-menu__content.theme--light.menuable__content__active {
    min-width: 416px !important;
    width: 420px;
    .v-divider + ._suggested {
      .v-list-item__content {
        overflow: visible;
        margin-top: 26px;
        position: relative;
        &:before {
          content: "SUGGESTED";
          color: $base;
          position: absolute;
          top: -26px;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
    ._country-list {
      padding-top: 8px;
      padding-bottom: 8px
    }
    ._suggested {
      + ._suggested {
        border-bottom: 1px solid $base-lighter;
      }
    }
    .v-select-list {
      position: relative;
    }
    ._dropdown-text-field {
      background-color: white;
      position: sticky;
      width: 100%;
      top: 0;
      z-index: 1;
      padding-top: 0px;
      padding-right: 12px;
      padding-left: 12px;
      color: $primary;
      border-bottom: 1px solid $base-lighter;
      .v-input__icon {
        &.v-input__icon--append {
          i.v-icon {
            transform: none !important;
            color: $primary !important;
          }
        }
      }
      &.v-input--is-focused {
        .v-input__icon {
          &.v-input__icon--append {
            i.v-icon {
              transform: none !important;
              color: $primary !important;
            }
          }
        }

      }
      :after, :before {
        border: none;
      }
    }
    .v-divider {
      display: none;
      margin: 0px;
      margin-bottom: 10px
    }
  }

}

