.v-autocomplete {
  &.v-select {
    &.v-select--is-menu-active {
      &.icon-no-rotate {
        .v-input__icon--append .v-icon {
          transform: none;
        }
      }
    }
  }
  .v-list-item {
    &.no-results {
      padding: 8px 16px;
    }
  }

  .v-autocomplete__content.v-menu__content {
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.5);
    border-radius: 8px;
  }
  
  .v-select__slot {
    input {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
