.v-dialog {
  overflow-x: hidden;
  .v-card {
    .v-card__title {
      padding: 40px 40px 8px 40px;
    }
    .v-card__text {
      padding: 0px 40px 60px 40px
    }
    .v-card__actions {
      border-top: 1px solid $base-lighter;
      padding:16px 24px;
      .v-btn {
        &.link-button{
          padding: 6px 12px !important;
          &.tooltip-button {
            padding: 12px !important;
          }
          background-color: transparent !important;
          i{
            margin-right: 4px;
          }
          span{
            color: $primary !important;
            text-decoration: none !important;
            font-weight: normal;
            opacity: 1 !important;
          }
          &:hover,
          &:focus,
          &:active {
            background-color: $primary-lighter !important;

          }
          &.no-border{
            span{
              text-decoration: none !important;
            }
          }
          &.font-weight-bold{
            span{
              font-weight: 700 !important;
            }
          }
        }
      }
    }
  }

  .v-navigation-drawer {
    .v-card__title {
      position: sticky;
      top: 0;
      padding: 32px 40px;
      border-bottom: 1px solid $base-lighter;
      background-color: white;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
}

._invite-modal {
  
  .v-card__text {
    padding-bottom: 0 !important;
  }

  .v-progress-circular {
    position: absolute;
    top: 7px;
    right: 36px;
    background-color: white !important;
    z-index: 10;
  }

  ._search-wrap {
    position: relative;
    ._search-result-dropdown {
      position: absolute;
      z-index: 10;
      top: 40px;
      width: 100%;
      border-radius: 8px;
      @extend ._shadow;
      .v-card {
        border-radius: 8px ;
        overflow-y: scroll ;
      }
    }
  }

  .v-text-field__details {
    display: none;
  }

  ._modal-full-width-list {
    overflow-y: scroll; 
    margin: 0 -40px;
    padding: 0 24px 0 40px;  
    min-height: 200px;
    max-height: 400px;

    ._search-results-list {
      margin: 0 -40px;
      padding: 0 40px;  
      &:hover {
        background-color: $base-lightest !important;
      }
    }

    .atat-select._alt-style-clean {
      &:hover fieldset {
        background-color: transparent;
      }
      .v-select--is-menu-active {
        background-color: $primary-lighter;
      }
    }
  }

  .v-input--is-focused {
    fieldset {
      border-color: $primary !important;
    }
  
    button, i {
      color: $base !important;
    }
  }

}