.error--text{
  &.error--text{
    fieldset, 
    fieldset:focus{
        border-color: $error !important;
        border-width: 2px;
      }
    i, 
    label,
    .v-text-field__suffix{
        color: $error !important;
    }
  }

  .atat-text-field-error{
   
  }
}