.v-text-field {

  .v-input__prepend-inner{
    z-index: 1;
  }
  
  fieldset {
    border: 1px solid $base;
    border-radius: 4px;
    background-color: white;

    &:focus {
      border-width: 2px;
      border-color: $primary;
    }
  }

  &.error--text {
    fieldset,
    fieldset:focus {
      border-color: $error !important;
      border-width: 2px;
    }

    .v-text-field__suffix {
      color: $error;
    }
  }

  .atat-text-field-error {
    i {
      margin-top: 1px;
    }
  }
  
  &.text-right {
    input {
      text-align: right !important;
    }
  }

  &.v-input--is-disabled {
    .v-input__control {
      background-color: $base-lightest;
      input {
        color: $base-darkest;
      }
    }
  }

  ._append-text {
    color: $base-light;
    line-height: 1.67em;
    margin-right: 2px;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}