._slideout-panel {
  .v-navigation-drawer__content {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  ._panel-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $base-dark;
    border: 2px solid transparent;
    border-radius: 4px;
    &:focus {
      outline: 2px solid $primary;
    }
  }

  ._panel-closer {
    &:focus, &:hover {
      background-color: $primary-lighter;
    }
  }
  
  ._panel-header {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 16px 24px;
    border-bottom: 1px solid $base-lighter;
    border-left: 1px solid $base-lighter;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 2;
  }
  
  ._panel-content-wrap {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
  }

  ._panel-padding {
    padding: 24px 24px 60px 24px;
  }

  ._portfolio-drawer {
    font-size: 14px !important;
    .v-menu__content, .v-list .v-list-item {
      min-width: 200px !important;
    }
    .v-menu__content {
      left: -95px !important;
    }
    .v-list-item__title span {
      white-space: nowrap !important;
    }
    .v-select__selection {
      width: 100%;
      text-align: right;
      padding-right: 4px;
    }

    ._drawer-text-area {
      border-radius: 4px;
      border: 1px solid transparent;
      outline: 1px solid transparent;
      &:hover{
        border-radius: 4px;
        border: 1px solid $base-lighter;
      }

      &.v-input--is-focused{
        border-radius: 4px;
        border: 1px solid $primary;
        outline: 1px solid $primary;
      }

      .v-input__slot {
        font-size: 14px !important;
        padding: 2px;
        &::before {
          display: none
        }
        &::after {
          display: none
        }

        .v-text-field input {
          padding: 0px;
        }
        textarea {
          padding-top: 0px;
        }
      }
    }

    ._text-link {
      text-decoration: underline;
      color: $primary !important;
      &:hover {
        cursor: pointer;
      }
    }
  }
  ._has-sticky-footer {
    margin-bottom: 180px;
  }

  ._sticky-slideout-footer {
    position: absolute;
    border-top: 1px solid $base-lighter;
    border-left: 1px solid $base-lighter;
    background-color: white;
    padding: 16px 24px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

}

  hr {
    z-index: auto;
    }
._profile-card {
  width: 360px;
  .v-list {
    padding: 0px !important;
    .v-list-item {
      .v-list-item__content {
        padding: 0px;

  }
      ._initials {
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        border-radius: 50%;
        background-color: $primary-lighter;
        font-size: 1.6rem !important;
        font-weight: 700;
        text-transform: uppercase;
        color: $base-darker;
      }
    }
  }
}

._profile-card__name-button {
  &.v-btn {
    padding: 0px !important;
    padding-left: 4px !important;
    span{
      color: $primary !important;
      text-decoration: underline !important;
      font-weight: normal;
      opacity: 1 !important;
    }
    &:hover {
      background-color: transparent !important;
    }
  }
  ._panel-user-list & {
    padding-left: 0 !important;
  }
}
