.package-item-card {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E0E1E2 !important;
  border-radius: 8px;
  box-shadow: none !important;
  align-items: center;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }

}
.package-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #161B1E;
}
.signature-required {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.signature-required span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: #61686C;
}