.theme--light {
  &.v-navigation-drawer {
    &.global-side-nav-bar {
      background-color: #e0e1e2; /* DISA base-lighter */
      padding: 24px !important;
      .v-navigation-drawer__border {
        display: none;
      }
      .v-list {
        padding: 0;
        .v-list-item {
          padding: 0;
          a {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

